{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block css %}
{% endblock css %}
{% block body %}
<div class="container">
    <h1 class="my-5" style="text-align:center"><b>About AAAS</b></h1>
    <!-- <img  style="text-align:center" class="" src="{% static 'assets/img/about1.png' %}" alt=""> -->
    <p>
        AAAS (Application As A Service) platform is mainly for digital product sellers and developers. Specifically, the project is designed for sellers to make money from their Products (APIs, Templates, logos, Downloadable Software). The process of the project is that developers can link their API or upload their products on a web server. Creation of products for API, developers create endpoints and create their subscription packages whereas for the creation of product other than API, the seller add product executable file in case of downloadable software or add PNG file for logo or can add template file as a product and create buy package. 
        Once the product is created the product will be sent to the admin for review of the product created. According to product review given by the admin, the seller will be notified via email. Now the platform can provide the market product on different platforms with a predefined template of brochure. The seller will select the platform to market the product. Then the seller completes the payment procedure of the platform, and the product will be published. 
        The buyer will view the product, For API the buyer will test the endpoints and then subscribe to package. After subscription the product will appear on the buyer’s dashboard. For other products the buyer will check the reviews and after the payment confirmation, the product and its status will appear in the buyer’s dashboard.
    </p>
    <p>
        Once the product is created the product will be sent to the admin for review of the product created. According to product review given by the admin, the seller will be notified via email. Now the platform can provide the market product on different platforms with a predefined template of brochure. The seller will select the platform to market the product. Then the seller completes the payment procedure of the platform, and the product will be published. 
    </p>
    <p>
        The buyer will view the product, For API the buyer will test the endpoints and then subscribe to package. After subscription the product will appear on the buyer’s dashboard. For other products the buyer will check the reviews and after the payment confirmation, the product and its status will appear in the buyer’s dashboard.
    </p>

    <h1 class="my-5" style="text-align:center"><b>Objectives</b></h1>
    <p>
        The AAAS (Application As A Service) project will meet the following objectives:
    </p>   
    <ul>
        <li>
            <b>Earning: </b><br>
            <p>
                The first and foremost objective of the AAAS is to provide the developers and other sellers with a platform where they will be able to earn by selling their Products.
            </p>
        </li>
        <br>
        <li>
            <b>Market and Authentication: </b><br>
            <p>
                The marketing and authentication of the seller’s product will be the responsibility of AAAS.
            </p>
        </li>
        <br>

        <li>
            <b>Marketplace: </b><br>
            <p>
                Buyers will be able to buy and use Products available on the platform. They will be able to find their required product from a wide range of products uploaded on the platform.
            </p>
        </li>
        <br>
        <li>
            <b>Attract Customer from Marketing Platform: </b><br>
            <p>
                Sellers will also get a solution to market their products on different platforms (of their choice) and increase their revenue.
            </p>
        </li>
        <br>
        <li>
            <b>Brochure Templates: </b><br>
            <p>
                Sellers will also get an opportunity to use Platform’s built-in brochure templates for marketing. 
            </p>
        </li>
        <br>
        <li>
            <b>Statistical Analysis of Related Products: </b><br>
            <p>
                Seller can view the Similar Product Statistical Analysis for better pricing and package creation.   
            </p>
        </li>
    </ul>
    <br>
    <p class="font-italic"><strong>Note: AAAS will not cater or be responsible for any kind of Product issues after it has been validated/authenticated.</strong></p>
</div>

{% endblock body %}


{% block js %}

{% endblock js %}

