{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block body %}
<div class="container-fluid">
    <nav class="navbar navbar-light ">
        <a class="navbar-brand"><b></b></a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    </div>
<br>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        
        <h4>Popular Searches:</h4>
       
        <button type="button" style="height:50px; width:160px" class="btn btn-primary">API</button>
        <button type="button" style="height:50px; width:160px" class="btn btn-primary">Logo</button>
        <button type="button" style="height:50px; width:160px" class="btn btn-primary">Canva Templates</button>
        <button type="button" style="height:50px; width:160px" class="btn btn-primary">Web Programming</button>
        <button type="button" style="height:50px; width:160px" class="btn btn-primary">Clean Master PRO</button>
        
    </nav>
</div>
    <br>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <nav class="nav flex-column bg-light ">
                <h4><B>Categories</B></h4>
                <a class="nav-link" href="#">API</a>
                <a class="nav-link" href="#">Templates</a>
                <a class="nav-link" href="#">Logo</a>
                <a class="nav-link" href="#">Downloadable Softwares</a>

            </nav>
        </div>
        
        <div class="col-9">
            <div class="card-group">
                <div class="card-fluid">
                    <img class="card-img-top" src="/static/image1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Discription</h5>
                        <h5 class="card-title">Price</h5>
                        <h5 class="card-title">Ratings</h5>
                                            
                </div>          
            </div>
            <div class="card-group">
                <div class="card-fluid">
                    <img class="card-img-top" src="/static/image1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Discription</h5>
                        <h5 class="card-title">Price</h5>
                        <h5 class="card-title">Ratings</h5>
                        
                    </div>
                </div>
            </div>
          
            <div class="card-group">
                <div class="card-fluid">
                    <img class="card-img-top" src="/static/image1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Discription</h5>
                        <h5 class="card-title">Price</h5>
                        <h5 class="card-title">Ratings</h5>
                        
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">
            <div class="card-group">
                <div class="card-fluid">
                    <img class="card-img-top" src="/static/image1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Discription</h5>
                        <h5 class="card-title">Price</h5>
                        <h5 class="card-title">Ratings</h5>
                    
                </div>
            </div>
            <div class="card-group">
                <div class="card-fluid">
                    <img class="card-img-top" src="/static/image1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Discription</h5>
                        <h5 class="card-title">Price</h5>
                        <h5 class="card-title">Ratings</h5>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card-fluid">
                    <img class="card-img-top" src="/static/image1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Discription</h5>
                        <h5 class="card-title">Price</h5>
                        <h5 class="card-title">Ratings</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>    


<br>
<br>
<br>
{% endblock body %}


{% block js %}

{% endblock js %}

