{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block css %}
.checked {
    color: orange;
}
{% endblock css %}
{% block body %}
<div class="container-fluid">
    <nav class="navbar navbar-light ">
        <a class="navbar-brand"><h1><b>Explore</b></h1></a>
        <form method='GET' action='{% url "core:product-search" %}' class="form-inline">
            <input name='query' class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" alue="">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    </div>
<br>
<!-- <div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <h4>Popular Searches:</h4>

        <button type="button" style="height:50px; width:160px" class="btn btn-primary">API</button>
        <button type="button" style="height:50px; width:160px" class="btn btn-primary">Logo</button>
        <button type="button" style="height:50px; width:160px" class="btn btn-primary">Canva Templates</button>
        <button type="button" style="height:50px; width:160px" class="btn btn-primary">Web Programming</button>
        <button type="button" style="height:50px; width:160px" class="btn btn-primary">Clean Master PRO</button>
        
    </nav>
</div> -->
    <br>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for product in products %}
                    {% include 'components/product/public-product-card.html'%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>    


<br>
<br>
<br>
{% endblock body %}


{% block js %}

{% endblock js %}

