{% extends "base.html" %}
{% load static %}
{% block title %} | Project Plan {% endblock title %}
{% block body %}

<div class="container">
    <div>
        <h3>M1</h3>
    </div>
    <hr>
    <div>
        <h3>M2(PROOF OF CONCEPT)</h3>
        <ul>
            <li> Seller
                <ul>
                    <li>Allow seller to create all types of products</li>
                </ul>
            </li>
            <li> Public
                <ul>
                    <li>Product List View</li>
                    <li>Product Search View</li>
                </ul>
            </li>
            <li> Marketing
                <ul>
                    <li>Allow seller to create 1 brochure design</li>
                    <li>Allow seller to market on 1 platform</li>
                </ul>
            </li>
        </ul>
        
        
        
    </div>
    <hr>
    <div>
        <h3>M3</h3>
    </div>
    <hr>
    <div>
        <h3>Tasks</h3>
        <ol types="1">
            <li>✔️ Login [Frontend: Ghazi, Backend: Farzan]</li>
            <li>✔️ Register [Frontend: Ghazi, Backend: Farzan]</li>
            <li>✔️ View Profile [Frontend: Sufyan]</li>
            <li>✔️ Change Password [Sufyan]</li>
            <li>✔️ Reset Password [Sufyan]</li>
            <li>✔️ Explore Page [Frontend: Ghazi, Backend: Farzan]</li>
            <li>✔️ Landing Page [MURTAZA]</li>
            <li>✔️ Simple Search [Frontend: Ghazi, Backend: Farzan]</li>
            <li>🛠️ Seller Dashboard</li>
            <li>🛠️ Billing [Shakir]</li>
            <li>🛠️ Notification List Page[Shakir]</li>
            <li>
                Create Product
                <ul>
                    <li>✔️ LOGO [Farzan]</li>
                    <li>✔️ HTML TEMPLATE [Farzan]</li>
                    <li>✔️ DOWNLAODABLE SOFTWARE [Farzan]</li>
                    <li>✔️ APIs(structure is created, working on javascript)[Murtaza:Frontend, Farzan:Backend]</li>
                </ul>
            </li>
            <li>
                Update Product
                <ul>
                    <li>LOGO</li>
                    <li>HTML TEMPLATE</li>
                    <li>DOWNLAODABLE SOFTWARE</li>
                    <li>APIs</li>
                </ul>
            </li>
            <li>
                Delete Product
                <ul>
                    <li>LOGO</li>
                    <li>HTML TEMPLATE</li>
                    <li>DOWNLAODABLE SOFTWARE</li>
                    <li>APIs</li>
                </ul>
            </li>
            <li>
                View Product
                <ul>
                    <li>LOGO</li>
                    <li>HTML TEMPLATE</li>
                    <li>DOWNLAODABLE SOFTWARE</li>
                    <li>APIs</li>
                </ul>
            </li>
            <li>Brochure List</li>
            <li>Brochure Create</li>
            <li>Brochure Delete</li>
            <li>Marketing List</li>
            <li>Marketing Detail and submission</li>
            <li>Buyer Dashboard</li>
            <li>View Product</li>
            <li>Buyer Bought Package List Page</li>

        </ol>
    </div>
</div>

{% endblock body %}