{% extends "base.html" %}
{% load static %}
{% block title %} | Project Plan {% endblock title %}
{% block body %}

<div class="container">
    <div>
        <h3>M1</h3>
    </div>
    <hr>
    <div>
        <h3>M2(PROOF OF CONCEPT)</h3>
        <ul>
            <li> Seller
                <ul>
                    <li>Allow seller to create all types of products</li>

                </ul>
            </li>
            <li> Public
                <ul>
                    <li>Product List View</li>
                    <li>Product Search View</li>
                </ul>
            </li>
            <li> Marketing
                <ul>
                    <li>Allow seller to create 1 brochure design</li>
                    <li>Allow seller to market on 1 platform</li>
                </ul>
            </li>
        </ul>
        
        
        
    </div>
    <hr>
    <div>
        <h3>M3</h3>
    </div>
    <hr>
    <div>
        <h3>Tasks</h3>
        <ul>
            <li> Landing Page (Murtaza) </li>
            <li> Index Page (Ghazi) </li>
            <li> API Product Page (Shakir) </li>
        </ul>
    </div>
</div>

{% endblock body %}