{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block css %}
.checked {
    color: orange;
}
{% endblock css %}
{% block body %}
<div class="container-fluid">
    <nav class="navbar navbar-light">
        <a class="navbar-brand"><b></b></a>
        <form method='GET' action='{% url "core:product-search" %}' class="form-inline">
            <input name='query' class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search" value="{{search}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    </div>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <nav class="nav flex-column bg-light "> 
                <h4><B>Filters</B></h4>
            </nav>
        </div>
        
        <div class="col-9">
            <div class="row">
                {% for product in products %}

                <div class ="col-3 mx-3 my-3 ">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top p-2" src="https://images.unsplash.com/photo-1544967082-d9d25d867d66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Card image cap">
                        <div class="card-body col-12">
                          <h6 class="card-title mb-3">
                            <img class="rounded-circle mr-3" src="https://images.unsplash.com/photo-1544967082-d9d25d867d66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" style="width:30px; height:30px;" alt=""><b>{{product.owner.username|upper}}</b></h6>
                          <a href="{% url 'core:product-view' product.slug %}" class="card-title text-secondary"><h6>{{product.title}}</h6></a>
                          <span class="card-text">{{product.description|truncatechars:50}}</span>
                          <div class="dropdown-divider"></div>
                          <div class="">
                              <span class="fa fa-star checked float-start p-2">({{product.review_count}})</span>
                              {% if product.product_type == 'A' %}
                              <span style="background-color: tomato;" class="badge text-white float-right p-2">{{product.get_product_type_display.upper}}</span>
                              {% elif product.product_type == 'L' %}
                              <span style="background-color:darkgreen;" class="badge text-white float-right p-2">{{product.get_product_type_display.upper}}</span>
                              {% elif product.product_type == 'H' %}
                              <span style="background-color:darkslateblue;" class="badge text-white float-right p-2">{{product.get_product_type_display.upper}}</span>
                              {% elif product.product_type == 'D' %}
                              <span style="background-color:darkorange;"  class="badge text-white float-right p-2">{{product.get_product_type_display.upper}}</span>
                            {% else %}

                            {% endif %}
                            </div>
                        </div>
                      </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>    


<br>
<br>
<br>
{% endblock body %}


{% block js %}

{% endblock js %}

