{% extends 'base.html' %}
{% load static %}
{% block title %}YourSite{% endblock title %}

{% block body %}
<div class="container mt-5 ">
    <div class="row">
        <div class="col-9">
            <div class="card p-3 mb-3">
                <div class="media">
                    <img class="rounded-circle mr-3" src="https://images.unsplash.com/photo-1544967082-d9d25d867d66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" style="width:30px; height:30px;" alt=""></h6>
                    <div class="media-body">
                        <h3 class="mt-0">{{product.owner.username.title}}</h2>
                    </div>
                </div>
            </div> 
            <span class="badge badge-primary px-2 py-1">{{product.get_product_type_display}}</span>
            <h1>{{product.title.title}}</h1>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                {% for thumbnail in product.thumbnail_metadata %}
                {% if thumbnail.isPrimary %}
                  <div class="carousel-item active">
                    <img src="{{thumbnail.data}}" class="d-block w-100" style="max-height: 400px;" alt="...">
                </div>
                {% endif %}
                {% endfor %}
                {% for thumbnail in product.thumbnail_metadata %}
                    {% if not thumbnail.isPrimary %}
                  <div class="carousel-item">
                    <img src="{{thumbnail.data}}" class="d-block w-100" style="max-height: 400px;" alt="...">
                  </div>
                {% endif %}
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <hr>
            {% if product.source_url %}
                <p><h3 class="text-muted font-italic"><strong>Source URL: </strong></h3>{{product.source_url}}</p>
            {% endif %}
            <p><h3 class="text-muted font-italic"><strong>Orientation: </strong></h3>{{obj.width}} x {{obj.height}}({{obj.logo_type}})</p>
            <h3 class="text-muted font-italic"><strong>Description: </strong></h3>
            {{product.description|safe}}
            <hr>
        </div>
        <div class="col-3">
            <div class="card p-3">
                <div class="pricing text-center ">
                    <h2>{{package.0.price}} USD</h2>
                    <hr>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'buyer:buy-product' package.0.id %}" type="button" class="btn btn-lg btn-block btn-success">Buy Now</a>
                    {% else %}
                    <a href="{% url 'accounts:login' %}" type="button" class="btn btn-lg btn-block btn-success">Log In & Buy Now</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-9">
            {% if feedbacks %}
            <h3 class="my-3">Feedback</h2>
                {% include 'components/feedback.html' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}

{% endblock js %}

