@media only screen and (min-width:768px) {
    body {
        background-image: url("/static/img.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        
    }
}

.rounded {
    border-radius: 10px;
  }