{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/brochure.css' %}">
<div class="container-fluid top mt-5 px-5">
    <div class = "container">
        <h1 contenteditable="true" align="center">Title Here</h1>
    </div>

    <div class = "container">
        <div class ="row">
            <div class ="col-12">
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <img id="my-image1" src="/static/header.png" align="center" width="1080" height="400">
        
                <br>
                <br>
        
                <form id="my-image" enctype="multipart/form-data" align="right">
                <input type="file" id="my-image" name="image">
                <input type="submit" value="Upload">
                </form>
                <script>
                $("#my-image").click(function () {
                    var newSrc = prompt("Enter the new image URL:");
                    $(this).attr("src", newSrc);
                });
                </script>
        </div>
    </div>
<hr>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 style="font-family: 'Ubuntu', sans-serif;"><u><b>Product Spotlights:</b></u></h2>
                <br>
        
                <ol>
                  <li>
                    <h4 contenteditable="true" style="font-family: 'Ubuntu', sans-serif;">Write your Feature 1</h4>
                  </li>
                  <br>
                  <li>
                    <h4 contenteditable="true" style="font-family: 'Ubuntu', sans-serif;">Write your Feature 2</h4>
                  </li>
                  <br>
                  <li>
                    <h4 contenteditable="true" style="font-family: 'Ubuntu', sans-serif;">Write your Feature 3</h4>
                  </li>
                  <br>
                </ol>
            </div>
            <div class= "col-6">
                <form>
                    <div class="form-group-fluid">
                      <label for="exampleFormControlTextarea1">Description</label>
                      <textarea class="form-control" type="text" id="exampleFormControlTextarea1"  placeholder="Provide Description of Your Project......." rows="10"></textarea>
                    </div>
                </form>
        </div>
    </div>
</div>


{% endblock body%}

{% block js %}

{% endblock js %}