{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block body %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Brochure-1</title>
</head>

<body>

  <link rel="stylesheet" type="text/css" href="{% static 'css/brochure.css' %}">

  <div class="container-fluid top mt-4">
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-8">
        <h1 contenteditable="true" align="center" style="font-family: georgia;font-size:400%;">
          <u><strong>Title Here</strong></u>
        </h1>
        <br>
        <br>
        <br>
        <br>
        <br>

      </div>
    </div>
    <div class="row">
      <div class="col-4">

        <p class="_04xlpA direction-ltr align-start para-style-body"
          style="color: rgb(0, 0, 0); font-family: &quot;YADXm3pZ1HU 0&quot;, _fb_, auto; font-size:275%; --line-height:1.1; text-transform: none; line-height: 26px;"
          align="center"><span class="S1PPyQ"
            style="color: rgb(0, 0, 0); font-weight: 700; font-style: normal; text-decoration: none;"><u>Notable</u><span
              class="S1PPyQ"
              style="color: rgb(34, 190, 215); font-weight: 700; font-style: normal; text-decoration: none;"><u>Features:</u></span></span>
        </p>

        <br>
        <br>
        <br>
        <br>

        <div class="col-12">
          <div class="row"></div>
          <ol>
            <li>
              <h4 contenteditable="true"
                style="color:#3792cb;font-weight: 700;font-family: &quot;YADXm3pZ1HU 0&quot;, _fb_, auto;font-size:200%;">
                This is your Feature 1</h4>
            </li>
            <br>
            <li>
              <h4 contenteditable="true"
                style="color:rgb(0, 0, 0);font-weight: 700;font-family: &quot;YADXm3pZ1HU 0&quot;, _fb_, auto;font-size:200%;">
                This is your Feature 2</h4>
            </li>
            <br>
            <li>
              <h4 contenteditable="true"
                style="color:#3792cb;font-weight: 700;font-family: &quot;YADXm3pZ1HU 0&quot;, _fb_, auto;font-size:200%;">
                This is your Feature 3</h4>
            </li>
            <br>
            <li>
              <h4 contenteditable="true"
                style="color:rgb(0, 0, 0);font-weight: 700;font-family: &quot;YADXm3pZ1HU 0&quot;, _fb_, auto;font-size:200%;">
                This is your Feature 4</h4>
            </li>
            <br>
            <li>
              <h4 contenteditable="true"
                style="color:#3792cb;font-weight: 700;font-family: &quot;YADXm3pZ1HU 0&quot;, _fb_, auto;font-size:200%;">
                This is your Feature 5</h4>
            </li>
            <br>
          </ol>
        </div>
        <div class="col-9">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 style="color:rgb(0, 0, 0);font-family: &quot;YADXm3pZ1HU 0&quot;, _fb_, auto;font-size:390%;"><b>Take your Business to the next level.</b></h4>
        </div>
        <div class="col-3">
        </div>

      </div>

      <div class="col-8">

        <div class="col-12" style="text-align: center;">
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <img id="my-image" src="/static/img10.png" class="image-container" align="center" width="600" height="400" style="border-radius: 50%;">


          <br>
          <br>

          <script>
            $("#my-image").click(function () {
              var newSrc = prompt("Enter the new image URL:");
              $(this).attr("src", newSrc);
            });
          </script>
        </div>

        <br>

        <div class="col-12">
          <br>
          <br>
          <br>
          <form>
            <div class="form-group-fluid">
              <p class="_04xlpA direction-ltr align-start para-style-body"
                style="color: rgb(0, 0, 0); font-family: &quot;YADXm3pZ1HU 0&quot;, _fb_, auto; font-size:275%; --line-height:1.1; text-transform: none; line-height: 26px;">
                <span class="S1PPyQ"
                  style="color: rgb(0, 0, 0); font-weight: 700; font-style: normal; text-decoration: none;"><u>Product</u><span
                    class="S1PPyQ"
                    style="color: rgb(34, 190, 215); font-weight: 700; font-style: normal; text-decoration: none;"><u>Description:</u></span></span>
              </p>
              <textarea class="form-control" type="text" id="exampleFormControlTextarea1"
                style="color: black; background-color: #50aed3;"
                placeholder="Provide Description of Your Project......." rows="10"></textarea>
            </div>
          </form>
        </div>

        <div class="col-12">
          <button type="button" class="btn btn-light btn-lg float-right">Upload Brochure</button>
        </div>



      </div>
    </div>
  </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>




{% endblock body %}

{% block js %}

{% endblock js %}