{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block css %}



{% endblock css %}

{% block body %}

<div class="container top mt-5">
    <h1 style="text-align:center;font-family:Lobster;"><b>Post your API</b></h1>
    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name='title' type="text" class="form-control" id="title" placeholder="Enter Logo Title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name='description' class="form-control" id="richtext_field" rows="7"></textarea>
                </div>
                <div class="form-group">
                    <label for="technical_instructions">Technical Instructions</label>
                    <textarea name='technical_instructions' class="form-control" id="technical_instructions" rows="3"></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-6 form-group ">
                        <label for="source_url">Source URL</label>
                        <input name='source_url' type="url" class="form-control" id="source_url" placeholder="Source URL">
                    </div>
                    <div class="col-6 form-group">
                        <label for="base_url">Base URL</label>
                        <input name='base_url' type="url" class="form-control" id="base_url" placeholder="Source URL">
                    </div>
                    <div class="col-6 form-group">
                        <label for="in_scope">In Scope</label>
                        <textarea name='in_scope' class="form-control" id="in_scope" rows="10"></textarea>
                    </div>
                    <div class="col-6 form-group">
                        <label for="out_scope">Out Scope</label>
                        <textarea name='out_scope' class="form-control" id="out_scope" rows="10"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="thumbnail">Thumbnail</label>
                    <input name='thumbnail' type="file" class="form-control-file" id="thumbnail" required>
                </div>
            </div>
            <hr>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12 mt-3 ">
                <div class="row">
                    <div class="col-3 border">
                        <h3><u>Endpoints</u><button style="right: 0;" type="button" class="btn btn-outline-info my-2 my-sm-0 mx-1" data-toggle="modal"
                            data-target=".bd-example-modal-lg">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            </button></h3>
                        <table class="table border">
                            <thead>
                            </thead>
                            <tbody id="e_body">
                            </tbody>
                        </table>
                        <div class="col-12">
                            <div class="modal fade bd-example-modal-lg" id="e_modal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Endpoint Details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body" id="endpoint_modal">
                                            <div class="container-fluid top mt-5 px-5">
                                                <div class="row">

                                                    <div class="btn-group col-3 mb-3">
                                                        <select class='form-control' id="endpoint_request_type">
                                                            <option value="GET">GET</option>
                                                            <option value="POST">POST</option>
                                                            <option value="DELETE">DELETE</option>
                                                            <option value="PUT">PUT</option>
                                                            <option value="PATCH">PATCH</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-9">
                                                        <input type="Endpoint URL" class="form-control" id="endpoint_url"
                                                            aria-describedby="titleHelp" placeholder="Endpoint URL">
                                                    </div>
                                                    <div class="col-6">
                                                        <textarea class="form-control" id="endpoint_desc" rows="10"
                                                            placeholder="Endpoint Description"></textarea>
                                                    </div>
                                                    <div class="col-6">
                                                        <textarea class="form-control" id="endpoint_test_data" rows="10"
                                                            placeholder="Endpoint Testing Data"></textarea>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" data-dismiss="endpoint_modal" class="btn btn-primary" onclick="create_endpoint()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-5 border">
                        <h3><u>Endpoint Documentation</u></h3>
                        <textarea class="form-control mb-2" id="e_desc_view" rows="10"
                            placeholder="Endpoint Documentation" disabled></textarea>
                    </div>
                    <div class="col-4 border">
                        <h3><u>Testing Data</u></h3>
                        <textarea class="form-control mb-2" id="e_test_data_view" rows="10"
                        placeholder="Endpoint Documentation" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <hr>
            </div>

            <br>
            <br>

            <div class="container">
                <button  type="button" disabled id='btn-analysis' class="btn btn-warning col-12 my-5"><strong> View Statistical Analysis</strong></button>
                <div class="card-deck mb-3 text-center">
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Basic</h4>
                    </div>
                    <div class="card-body">
                        <small class="text-muted">API Requests / Price</small>
                      <h1 class="card-title pricing-card-title">
                        <input type="number" class="form-control col-4" name="package_requests">
                        <small class="text-muted">/ <input type="number" class="form-control col-4" name="package_pricing">
                        </small></h1>
                    </div>
                  </div>
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Standard</h4>
                    </div>
                    <div class="card-body">
                        <small class="text-muted">API Requests / Price</small>
                      <h1 class="card-title pricing-card-title">
                        <input type="number" class="form-control col-4" name="package_requests">
                        <small class="text-muted">/ <input type="number" class="form-control col-4" name="package_pricing">
                        </small></h1>
                    </div>
                  </div>
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Premium</h4>
                    </div>
                    <div class="card-body">
                        <small class="text-muted">API Requests / Price</small>
                      <h1 class="card-title pricing-card-title">
                        <input type="number" class="form-control col-4" name="package_requests">
                        <small class="text-muted">/ <input type="number" class="form-control col-4" name="package_pricing">
                        </small></h1>
                    </div>
                  </div>
                </div>

              </div>
            <br>
            <div class="col-12">
                <hr>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-info btn-lg">Submit</button>
                    </div>
                </div>
            </div>
        </div>
</form>
</div>

{% endblock body %}

{% block js %}
<script>
    $("#title").change(function(){
    if (!$('#title')[0].value) {
        $('#btn-analysis').prop('disabled', true)
    } else {
        $('#btn-analysis').prop('disabled', false)
    }
});

$("#btn-analysis").click(function(){
    console.log('working')
    $('#modal-analysis').modal('show')
    $.ajax({
    type: 'GET',
    url: "{% url 'api:statistical-analysis' 'A' %}",
    success: function(data) {
        for (product in data) {
            console.log(data[product]);
            packages_html = '';
            for (packaging in data[product].packages) {
                console.log(data[product].packages)
                packages_html +=   `<li><strong>${data[product].packages[packaging].title}:</strong> ${data[product].packages[packaging].price} USD/${data[product].packages[packaging].requests} Requests</li>`
            }
            product_pricing_html = 
        $('#analysis-data').append(
        `                
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="media m-3 text-muted">
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="${data[0].thumbnail}" data-holder-rendered="true">
                <div class="media-body">
                    <h5 class="mt-0"><strong class="d-block text-gray-dark">@${data[product].title}</strong></h5>
                    ${packages_html}
                </div>
                <div style="text-align: right;">
                    <h4>${data[product].price} USD</h4>
                </div>
            </div>
        </div>
        `
        )
        }
    },
    error: function(error) {
        console.log('Error:', error);
    }
});
});
</script>
<script>
    // 1. create an empty list
    

    function create_endpoint() {
        e_request_type = document.getElementById("endpoint_request_type")
        e_url = document.getElementById("endpoint_url")
        e_desc = document.getElementById("endpoint_desc")
        e_test_data = document.getElementById("endpoint_test_data")
        console.log(e_request_type.value, e_url.value, e_desc.value, e_test_data.value)
        // ADD TO ENDPOINT
        document.getElementById('e_body').innerHTML += 
        `<tr>
            <td onclick="show_endpoint_info(this)">
                <span class="badge badge-primary">${e_request_type.value}</span>
                ${e_url.value}
                <input type="text" name="endpoint_request_type" value="${e_request_type.value}" hidden>
                <input type="text" name="endpoint_url" value="${e_url.value}" hidden>
                <textarea hidden name='enpoint_desc'>${e_desc.value}</textarea>
                <textarea hidden name='enpoint_test_data'>${e_test_data.value}</textarea>
            </td>
            <td style="text-align:end; padding-top:15px;"> <span><i class=" fa fa-solid fa-trash" onclick='delete_endpoint(this)'></i><span></td>
        </tr>`
        // 2. Append details into list
        e_url.value = ""
        e_desc.value = ""
        e_test_data.value = ""
        $('#e_modal').modal('hide')
    }

    function show_endpoint_info(el) {
        document.getElementById('e_desc_view').value = el.childNodes[7].innerHTML
        document.getElementById('e_test_data_view').value = el.childNodes[9].innerHTML
    }
    function delete_endpoint(el) {
        el.parentElement.parentElement.parentElement.remove()
    }
</script>
{% endblock js %}