{% extends 'base.html' %}
{% load static %}
{% block title %}YourSite{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/create-product.css' %}">
<main class="container mt-3">
    <h1>CREATE SOFTWARE PAGE</h1>
    <div class="form-progress-bar">
        <!-- Overview - -->
        <div class="form-step-item selected" data-step="1">
            <div class="form-step">1</div>
            <div class="form-step-title">Overview</div>
        </div>
        <span class="gt-sign">></span> 

        <!-- Pricing -->
        <div class="form-step-item" data-step="2">
            <div class="form-step">2</div>
            <div class="form-step-title">Pricing</div>
        </div>
        <span class="gt-sign">></span>
        
        <!-- Description -->
        <div class="form-step-item" data-step="3">
            <div class="form-step">3</div>
            <div class="form-step-title">Description</div>
        </div>
        <span class="gt-sign">></span>
        
        <!-- Gallery -->
        <div class="form-step-item" data-step="4">
            <div class="form-step">4</div>
            <div class="form-step-title">Gallery</div>
        </div>
        <span class="gt-sign">></span>

        <!-- Publish -->
        <div class="form-step-item" data-step="5">
            <div class="form-step">5</div>
            <div class="form-step-title">Publish</div>
        </div>
    </div>
    <div class="mt-5">
        <form action="" id='updateForm' method="post" enctype="multipart/form-data">{% csrf_token %}
            <!-- Step 01 - Overview -->
            <section class="form-step-inputs" data-triggered="true">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name='title' type="text" class="form-control" id="title" placeholder="Enter Software Title">
                </div>
                <div class="form-group">
                    <label for="title">Tags</label>
                    <div class="tags-container">
                        <!-- Tags will be dynamically inserted here -->
                        <input name='tag-input' class="tag-input" type="text" class="form-control">
                    </div>
                    <small class="form-text text-muted">Select minimum 3 tags</small>
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>

            <!-- Step 02 - Pricing -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="price">Price</label>
                            <input name='price' type="text" class="form-control" id="price">
                            <small id="price" class="form-text text-muted">Enter the price in USD.</small>
                        </div>
                        <div class="col-6">
                            <button type="button" disabled id='btn-analysis' class="btn btn-warning col-12 h-100"><strong class="text-gray-dark">View<br>Statistical Analysis</strong></button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>

            <!-- Step 03 - Description -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name='description' class="form-control richtext_field" id="exampleFormControlTextarea1" rows="7"></textarea>
                </div>
                <div class="form-group">
                    <label for="technical_instructions">Technical Instructions</label>
                    <textarea name='technical_instructions' class="form-control richtext_field" id="technical_instructions" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="technology">Technologies Used.</label>
                    <input name='technology' type="text" class="form-control" id="technology" placeholder="Ex: Python, VUE, React etc.">
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>

            <!-- Step 04 - Gallery -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group gallery">
                    <label for="thumbnail">Thumbnails (up to 3)</label>
                    <div class="thumbnails-container">
                        <!-- Image 01 -->
                        <div class="thumbnail active primary">
                            <div class="thumbnail-overlay"></div>
                            <div class="thumbnail-placeholder">
                                    <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                    <span>Drag & drop a photo or</span>
                                    <button>Browse</button>
                            </div>
                            <div class="thumbnail-image">
                                <img src="" alt="thumbnail image">
                            </div>
                            <span class="primary-thumbnail">&#9733 Primary</span>
                            <button class="btn-delete-thumbnail">DELETE</button>
                            <small id="thumbnail" class="form-text text-muted">Upload Thumbnail File.</small>
                        </div>

                        <!-- Image 02 -->
                        <div class="thumbnail">
                            <div class="thumbnail-overlay"></div>
                            <div class="thumbnail-placeholder">
                                <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                <span>Drag & drop a photo or</span>
                                <button>Browse</button>
                            </div>
                            <div class="thumbnail-image">
                                <img src="" alt="thumbnail image">
                            </div>
                            <span class="primary-thumbnail">&#9733 Primary</span>
                            <button class="btn-delete-thumbnail">DELETE</button>
                        </div>

                        <!-- Image 03 -->
                        <div class="thumbnail">
                            <div class="thumbnail-overlay"></div>
                            <div class="thumbnail-placeholder">
                                <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                <span>Drag & drop a photo or</span>
                                <button>Browse</button>
                            </div>
                            <div class="thumbnail-image">
                                <img src="" alt="thumbnail image">
                            </div>
                            <span class="primary-thumbnail">&#9733 Primary</span>
                            <button class="btn-delete-thumbnail">DELETE</button>
                        </div>
                        <input type="file" name="thumbnail-input" hidden>
                    </div>
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>
            
            <!-- Step 05 - Publish -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group">
                    <label for="downloadable_file">Downloadable File</label><br>
                    <button class="btn-upload-file">Upload</button>
                    <div id="progressBarContainer" style="display: none;">
                        <div id="progressBar" style="width: 0%;"></div>
                    </div>
                    <input name='downloadable_file' type="file" class="form-control-file" id="downloadable_file" hidden>
                    <div class="progress-bar">
                        <div class="progress-bar-inner"></div>
                    </div>
                    <small id="downloadable_file" class="form-text text-muted filename">Upload download file.</small>
                </div>
                <div class="form-group">
                    <label for="trail_version">Trail Version</label><br>
                    <button class="btn-upload-trail-file">Upload</button>
                    <div id="progressBarContainer" style="display: none;">
                        <div id="progressBar" style="width: 0%;"></div>
                    </div>
                    <input name='trail_version' type="file" class="form-control-file" id="trail_version" hidden>
                    <div class="progress-bar2">
                        <div class="progress-bar-inner"></div>
                    </div>
                    <small id="trail_version" class="form-text text-muted trail-filename">Upload Trail Version If Available.</small>
                </div> 
                <div class="form-group">
                    <label for="description">Source URL</label>
                    <input name='source_url' type="url" class="form-control" id="source_url" placeholder="Source URL">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="in_scope">In Scope</label>
                            <textarea name='in_scope' class="form-control richtext_field" id="in_scope" rows="10"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="out_scope">Out Scope</label>
                            <textarea name='out_scope' class="form-control richtext_field" id="out_scope" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary form-btn form-btn-submit">Submit</button>
            </section>       
        </form>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}

{% block js %}
<script>
    // Logic related to overall form, steps, progress bar
    const mainForm = document.querySelector('#updateForm')
    const forms = [...document.querySelectorAll('.form-step-inputs')];
    const formSteps = [...document.querySelectorAll('.form-step-item')];
    const continuteButtons = [...document.querySelectorAll('.form-btn')].slice(0, 4);
    // const submitButton = document.querySelector('.form-btn-submit');

    let currentStep = 1;

    continuteButtons.forEach((continuteButton) => {
        continuteButton.addEventListener('click', handleFormContinue);
    });

    formSteps.forEach((formStep) => {
        formStep.addEventListener('click', handleStepSelection);
    });

    mainForm.addEventListener('submit', handleSubmit)

    function handleStepSelection(event) {
        const step = +event.currentTarget.dataset.step;
        
        displayStep(step);
    }

    function handleFormContinue(event) {
        event.preventDefault();
        const isFormValid = validateStep(currentStep - 1);

        if (!isFormValid) {
            alert('Please fill all the fields');
            return;
        }

        currentStep+=1;
        forms[currentStep-1].dataset.triggered = true;

        displayStep(currentStep);
    }

    function displayStep(step) {
        if (forms[step-1].dataset.triggered !== 'true') return;

        removeAllSteps('completed');
        removeAllSteps('selected');

        currentStep = step;

        formSteps.forEach((formStep) => {
            // Do not update classList if user has not reached to this step yet
            if (+formStep.dataset.step > currentStep) return;

            // Add "selected" class only on the step user has clicked on
            if (+formStep.dataset.step === step) {
                formStep.classList.add('selected');
                return;
            }

            // Add "completed" class to all the other steps
            formStep.classList.add('completed');
        })

        formToDisplay(step);
    }

    function removeAllSteps(status) {
        formSteps.forEach((formStep) => {
            if (formStep.classList.contains(status)) {
                formStep.classList.remove(status);
            }
        })
    }

    function formToDisplay(step) {
        hideAllForms();
        forms[step-1].classList.remove('hidden');
    }

    function hideAllForms() {
        forms.forEach((form) => {
            if (!form.classList.contains('hidden')) {
                form.classList.add('hidden');
            }
        })
    }

    function validateStep(step) {
        const inputs = [...forms[step].querySelectorAll('input')];
        const textAreas = [...forms[step].querySelectorAll('textarea')];

        for (let input of inputs) {
            if (input.classList.contains('tag-input')) {
                if (tags < 3) return false;
                continue;
            }
            if (!input.value) return false;
        }

        for (let textArea of textAreas) {
            if (!textArea.value) return true;
        }

        return true;
    }

    // Form Submission
    function handleSubmit(event) {
        event.preventDefault();

        if (currentStep < 5) return;
        const isFormValid = validateStep(currentStep - 1);

        if (!isFormValid) {
            alert('Please fill all the fields');
            return;
        }

        const _images = images.map((image, idx) => {
            return {
                data: image,
                isPrimary: thumbnails[idx].classList.contains('primary'),
            }
        })

        const _tags = [...tagsContainer.children].splice(0, tags).map((tag) => {
            return [...tag.children][0].innerText;
        });

        const form = event.target;
        const imagesInput = createNewInput('images', JSON.stringify(_images));
        const tagsInput = createNewInput('tags', JSON.stringify(_tags));
        form.appendChild(imagesInput);
        form.appendChild(tagsInput);

        form.submit();
    }

    function createNewInput(name, value) {
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = name;
        input.value = value;

        return input;
    }

    // Logic related to tags
    const tagsContainer = document.querySelector('.tags-container');
    const tagInput = document.querySelector('.tag-input');
    let tags = 0;

    tagInput.value = '';

    tagInput.addEventListener('input', updateInputWidth);
    tagInput.addEventListener('keydown', addNewTag);
    tagsContainer.addEventListener('click', selectTagInput);

    // The width of input field will dynamically
    // change based on the length of it's value
    function updateInputWidth(event) {
        tagInput.style.width = tagInput.value.length * 2 + "vw";
    }

    function selectTagInput(event) {
        tagInput.select();
    }

    function addNewTag(event) {
        // If key is other than "Enter" --> Return
        // Enter key code --> 13
        if (event.keyCode !== 13) return;

        // preventing the form to trigerring the "Continue" button
        event.preventDefault();

        // If the input field is empty --> Return
        if (!tagInput.value) return;

        const newTag = createTag(tagInput.value);
        newTag.addEventListener('click', deleteTag);
        tagsContainer.insertBefore(newTag, tagInput);
        tagInput.value = '';
        tags+=1;
    }

    function createTag(text) {
        const tag = document.createElement('div');
        tag.classList.add('tag');
        tag.innerHTML = `
            <span class="tag-text">${text}</span>
            <span>X</span>
        `;

        return tag;
    }

    function deleteTag(event) {
        event.currentTarget.remove();
        tags-=1;
    }

    // Logic relatead to image gallery
    const imageInput = document.querySelector('[name="thumbnail-input"]');
    const thumbnails = [...document.querySelectorAll('.thumbnail')];
    const imageUploadButtons = [...document.querySelectorAll('.thumbnail > .thumbnail-placeholder > button')];
    const imageDeleteButtons = [...document.querySelectorAll('.btn-delete-thumbnail')];
    const imageEls = [...document.querySelectorAll('.thumbnail-image > img')];
    const imageContainers = [...document.querySelectorAll('.thumbnail-image')];
    const imageDropZones = [...document.querySelectorAll('.thumbnail-placeholder')]

    const images = [];

    imageContainers.forEach((imageContainer, idx) => 
        imageContainer.addEventListener('click', setPrimaryImage(idx)))

    imageUploadButtons.forEach((btn) =>
        btn.addEventListener('click', handleSelectImage));

    imageDeleteButtons.forEach((btn, idx) =>
        btn.addEventListener('click', handleImageDelete(idx)));

    imageInput.addEventListener('change', (event) => {
        handleImageUpload(event.target.files[0]);
    });

    imageDropZones.forEach((imageDropZone) =>
        imageDropZone.addEventListener('drop', (event) => {
            event.preventDefault();
            handleImageUpload(event.dataTransfer.files[0]);
        }));

    imageDropZones.forEach((imageDropZone) =>
        imageDropZone.addEventListener('dragover', (event) =>
            event.preventDefault()));

    thumbnails.forEach((thumbnail) =>
        thumbnail.addEventListener('drop', (event) =>
            event.preventDefault()));

    thumbnails.forEach((thumbnail) =>
        thumbnail.addEventListener('dragover', (event) =>
            event.preventDefault()));

    function handleImageDelete(imageIdx) {
        return (event) => {
            event.preventDefault();
            images.splice(imageIdx, 1);
            updatePrimaryImage(imageIdx);
            removeImageSrcs();
            displayImages();
            updateThumbnailStates();
        };
    }

    function updatePrimaryImage(idx) {
        if (thumbnails[idx].classList.contains('primary')) {
            if (idx > 0) {
                thumbnails[idx].classList.remove('primary');
                thumbnails[idx-1].classList.add('primary');
                return;
            }
            thumbnails[idx].classList.add('primary');
            return;
        }

        const primaryIdx = thumbnails.findIndex((thumbnail) => thumbnail.classList.contains('primary'));

        if (primaryIdx < 1) return;

        thumbnails[primaryIdx].classList.remove('primary');
        thumbnails[primaryIdx-1].classList.add('primary');
    }

    function setPrimaryImage(idx) {
        return (event) => {
            removeStates('primary', thumbnails);
            thumbnails[idx].classList.add('primary');
        };
    }

    function handleSelectImage(event) {
        event.preventDefault();
        imageInput.click();
    }

    function handleImageUpload(file) {
        const reader = new FileReader();
        reader.onload = () => {
            images.push(reader.result);
            updateThumbnailStates();
            displayImages();
        };
        reader.readAsDataURL(file);
    }

    function displayImages() {
        if (!images.length) return;

        images.forEach((image, idx) => {
            imageEls[idx].src = image;
        })
    }

    function removeImageSrcs() {
        imageEls.forEach((img) => {
            img.src = '';
        });
    }

    function updateThumbnailStates() {
        removeStates('active', thumbnails);
        removeStates('uploaded', thumbnails);

        if (!images.length) {
            thumbnails[0].classList.add('active');
            return;
        }

        thumbnails.forEach((thumbnail, idx) => {
            if (idx < images.length) {
                thumbnail.classList.add('uploaded');
                return;
            }
            if (idx === images.length) {
                thumbnail.classList.add('active');
                return;
            }
        })
    }

    function removeStates(state, elements) {
        elements.forEach((element) => {
            if (element.classList.contains(state)) {
                element.classList.remove(state);
            }
        });
    }

    // logic related to publish section
    const fileUploadButton = document.querySelector('.btn-upload-file');
    const fileUploadInput = document.querySelector('#downloadable_file');
    const progressBar = document.querySelector('.progress-bar');
    const filename = document.querySelector('.filename');

    fileUploadButton.addEventListener('click', handleFileSelect);
    fileUploadInput.addEventListener('change', handleFileUpload);

    function handleFileSelect(event) {
        event.preventDefault();
        fileUploadInput.click();
    }

    function handleFileUpload(event) {        
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onloadstart = () => {
            progressBar.style.display = 'block';
            fileUploadButton.style.display = 'none';
        };

        reader.onprogress = (progressEvent) => {
            if (progressEvent.lengthComputable) {
                const progress = (progressEvent.loaded / progressEvent.total) * 100;
                progressBar.style.width = progress + '%';
            }
        };

        reader.onload = () => {
            progressBar.style.width = '100%';
            progressBar.style.display = 'none';
            fileUploadButton.style.display = 'block';
            filename.textContent = file.name;
        };

        reader.readAsDataURL(file);
    }

    // logic related to publish section
    const trailFileUploadButton = document.querySelector('.btn-upload-trail-file');
    const trailFileUploadInput = document.querySelector('#trail_version');
    const trailProgressBar = document.querySelector('.progress-bar2');
    const trailFilename = document.querySelector('.trail-filename');

    trailFileUploadButton.addEventListener('click', handleTrailFileSelect);
    trailFileUploadInput.addEventListener('change', handleTrailFileUpload);

    function handleTrailFileSelect(event) {
        event.preventDefault();
        trailFileUploadInput.click();
    }

    function handleTrailFileUpload(event) {        
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onloadstart = () => {
            trailProgressBar.style.display = 'block';
            trailFileUploadButton.style.display = 'none';
        };

        reader.onprogress = (progressEvent) => {
            if (progressEvent.lengthComputable) {
                const progress = (progressEvent.loaded / progressEvent.total) * 100;
                trailProgressBar.style.width = progress + '%';
            }
        };

        reader.onload = () => {
            trailProgressBar.style.width = '100%';
            trailProgressBar.style.display = 'none';
            trailFileUploadButton.style.display = 'block';
            trailFilename.textContent = file.name;
        };

        reader.readAsDataURL(file);
    }
</script>

<script>
    $("#title").change(function(){
        if (!$('#title')[0].value) {
            $('#btn-analysis').prop('disabled', true)
        } else {
            $('#btn-analysis').prop('disabled', false)
        }
    });
    
    $("#btn-analysis").click(function(){
        console.log('working')
        $('#modal-analysis').modal('show')
        $.ajax({
        type: 'GET',
        url: "{% url 'api:statistical-analysis' 'H' %}",
        success: function(data) {
            for (product in data) {
                console.log(data[product]);
            $('#analysis-data').append(
            `                
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="media m-3 text-muted">
                    <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="${data[0].thumbnail}" data-holder-rendered="true">
                    <div class="media-body">
                        <h5 class="mt-0"><strong class="d-block text-gray-dark">@${data[product].title}</strong></h5>
                    </div>
                    <div style="text-align: right;">
                        <h4>${data[product].price} USD</h4>
                    </div>
                </div>
            </div>
            `
            )
            }
        },
        error: function(error) {
            console.log('Error:', error);
        }
    });
    });
    
</script>
{% endblock js %}

