{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block css %}
main {
    min-height: 100vh;
}

.form-progress-bar {
    margin-top: 1.5rem;
    width: 100%;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    padding-block: 0.75rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.form-step-item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.form-step {
    --color: #c0c0c0;
    border-radius: 100%;
    padding: 0.1rem 0.55rem;
    color: var(--color);
    font-weight: 700;
    border: 2px solid var(--color);
}

.form-step-title {
    color: #838383;
    font-weight: bold;
    font-size: 1rem;
}

.form-step-item.selected,
.form-step-item.completed{
    cursor: pointer;
}

.form-step-item.selected .form-step,
.form-step-item.completed .form-step{
    --color: #1DBF73;
    color: white;
    background-color: var(--color);
    border-color: var(--color);
}

.form-step-item.selected .form-step-title {
    color: black;
}

.form-step-item.completed .form-step-title {
    color: #1bad69;
}

.gt-sign {
    font-family: monospace;
    font-weight: 700;
}

.form-step-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-btn {
    align-self: flex-end;
    padding: 0.5rem 1.5rem;
    font-size: 1.05rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: #1DBF73;
    border: none;
    margin-top: 1rem;
}

.form-btn:hover, 
.form-btn:active, 
.form-btn:focus {
    background-color: #19a363;
}

.hidden {
    display: none !important;
}

/* Tags Styling */
.tags-container {
    min-width: 100%;
    min-height: 2.375rem;
    padding: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid rgb(206, 212, 218);
    cursor: text;

    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.tag {
    background-color: #F5F5F5;
    padding: 0.1rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.tag > span {
    color: #848691;
    font-size: 1.1rem;
    font-weight: 700;
}

.tag > span:nth-child(2) {
    font-family: cursive, monospace;
    font-size: 0.9rem;
    font-weight: 100;
}

.tag-input {
    border: none;
    outline: none;
    width: 10ch;
}

.tag-input:hover,
.tag-input:focus,
.tag-input:active {
    outline: none;
}

/* Gallery Styling */
.gallery {
    margin-bottom: 3rem;
}
.thumbnails-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    /* overflow: hidden; */
}

.thumbnail {
    height: 160px;
    width: 240px;
    background-color: white;
    border: 1px solid rgb(218, 219, 221);

    position: relative;
}

.thumbnail-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); /* gradient overlay */
    display: none;
}

.primary-thumbnail {
    position: absolute;
    top: 130px;
    left: 10px;
    font-size: 0.9rem;
    color: white;
    display: none;
}

.btn-delete-thumbnail {
    color: red;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 4px;
    padding: 3px 8px;
    margin-left: 5rem;
    margin-top: 5px;
    font-size: 13px;
    display: none;
    transition: all 0.4s;
}

.btn-delete-thumbnail:hover {
    background-color: red;
    color: white;
}

.thumbnail.active {
    border: 1px dashed #b8b8b8;
}

.thumbnail.active:hover {
    border-color: #455cc5;
}

.thumbnail.active .thumbnail-placeholder,
.thumbnail.uploaded .thumbnail-image {
    display: flex;
}

.thumbnail.uploaded .btn-delete-thumbnail,
.thumbnail.primary.uploaded .primary-thumbnail,
.thumbnail.primary.uploaded .thumbnail-overlay {
    display: block;
}

.thumbnail.primary.uploaded {
    border: 1px solid black;
}

.thumbnail-placeholder {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;

    font-size: 0.95rem;
    color: #818181;
}

.thumbnail-placeholder > img {
    width: 23%;
    margin-bottom: 4px;
    opacity: 0.5;
}

.thumbnail-placeholder > button {
    border: none;
    outline: none;
    background-color: white;
    color: #536EE9;
}
.thumbnail-image {
    /* padding: 0.2rem; */
    height: 160px;
    justify-content: center;
    align-items: center;

    display: none;
}

.thumbnail-image > img {
    /* display: block; */
    max-width: 238px;
    max-height: 158px;
}

/* Publish section */
.btn-upload-file,
.create-endpoint-btn {
    color: #1DBF73;
    background-color: transparent;
    border: 1px solid #1DBF73;
    border-radius: 4px;
    padding: 4px 15px;
    font-weight: 700;
    transition: all 0.4s;
}

.btn-upload-file:hover,
.create-endpoint-btn:hover {
    color: white;
    background-color: #1DBF73;
}

.create-endpoint-btn {
    width: 100%;
    margin-bottom: 0.15rem;
}

.endpoint-heading {
    text-align: center;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    margin-top: 10px;
    display: none;
}

.progress-bar-inner {
    height: 100%;
    background-color: #1DBF73;
}

.badge.POST {
    background-color: crimson;
}

.badge.GET {
    background-color: #1DBF73;
}

.badge.DELETE {
    background-color: red;
}

.badge.PATCH {
    background-color: orange;
}

.api-textarea:disabled {
    background-color: #f8f8f8;
    color: black;
}



{% endblock css %}

{% block body %}
<style>
    .endpoint-desc-container {
        /* border: 1px solid #c4c4c4; */
        /* border-radius: 10px; */
        display: flex;
        width: 100%;
    }

    .endpoint-col {
        margin-right: 2px;
        flex: 1;
        padding: 0.5rem;
    }

    .endpoint-col:nth-child(1) {
        border-right: 1px solid #dfdfdf;
    }

    .endpoint-col.first {
        background-color: #f8f8f8;
        flex: 1;
        padding-inline: 0.8rem;
        margin-right: 1rem;
        border-radius: 10px;
        border: 1px solid #c4c4c4;
    }

    .endpoint-desc {
        display: flex;
        width: 100%;
        flex: 3;
        background-color: #f1f1f1;
        border-radius: 10px;
        border: 1px solid #c4c4c4;
    }
    .endpoint-desc h3 {
        font-size: 1.45rem;
        color: rgb(92, 92, 92);
        margin-bottom: 10px;
    }

    #endpoint_modal small.desc {
        font-size: 1rem;
    }

    #endpoint_modal small.error {
        font-size: 1rem;
        color: red !important;
        margin-left: 1rem;
        display: none;
    }

    .endpoint-item i {
        cursor: pointer;
        margin-left: 5px;
    }

    .btn-edit {
        background-color: transparent;
        border: none;
    }

    .api-textarea.code {
        color: #424242 !important;
        font-size: 14px;
        line-height: 18px;
        font-family: monospace;
        min-height: 254px;
    }

</style>
<main class="container mt-3">
    <h1 style="text-align:center"><b>Post your API</b></h1>
    <div class="form-progress-bar">
        <!-- Overview - -->
        <div class="form-step-item selected" data-step="1">
            <div class="form-step">1</div>
            <div class="form-step-title">Overview</div>
        </div>
        <span class="gt-sign">></span> 

        <!-- Pricing -->
        <div class="form-step-item" data-step="2">
            <div class="form-step">2</div>
            <div class="form-step-title">Pricing</div>
        </div>
        <span class="gt-sign">></span>
        
        <!-- Description -->
        <div class="form-step-item" data-step="3">
            <div class="form-step">3</div>
            <div class="form-step-title">Description</div>
        </div>
        <span class="gt-sign">></span>
        
        <!-- Gallery -->
        <div class="form-step-item" data-step="4">
            <div class="form-step">4</div>
            <div class="form-step-title">Gallery</div>
        </div>
        <span class="gt-sign">></span>

        <!-- Publish -->
        <div class="form-step-item" data-step="5">
            <div class="form-step">5</div>
            <div class="form-step-title">Publish</div>
        </div>
    </div>
    <div class="top mt-5">
        <form id="updateForm" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <!-- Step 01 - Overview -->
                    <section class="form-step-inputs" data-triggered="true">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input name='title' type="text" class="form-control" id="title" placeholder="Enter API Title">
                        </div>
                        <div class="form-group">
                            <label for="title">Tags</label>
                            <div class="tags-container">
                                <!-- Tags will be dynamically inserted here -->
                                <input name='tag-input' class="tag-input" type="text" class="form-control">
                            </div>
                            <small class="form-text text-muted">Select minimum 3 tags</small>
                        </div>
                        <button class="btn btn-primary form-btn">Continue</button>
                    </section>

                    <!-- Step 02 - Pricing -->
                    <section class="form-step-inputs hidden" data-triggered="false">
                        <div class="container">
                            <button  type="button" disabled id='btn-analysis' class="btn btn-warning col-12 my-5"><strong> View Statistical Analysis</strong></button>
                            <div class="card-deck mb-3 text-center">
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Basic</h4>
                                </div>
                                <div class="card-body">
                                    <small class="text-muted">API Requests / Price</small>
                                <h1 class="card-title pricing-card-title">
                                    <input type="number" class="form-control col-4" name="package_requests">
                                    <small class="text-muted">/ <input type="number" class="form-control col-4" name="package_pricing">
                                    </small></h1>
                                </div>
                            </div>
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Standard</h4>
                                </div>
                                <div class="card-body">
                                    <small class="text-muted">API Requests / Price</small>
                                <h1 class="card-title pricing-card-title">
                                    <input type="number" class="form-control col-4" name="package_requests">
                                    <small class="text-muted">/ <input type="number" class="form-control col-4" name="package_pricing">
                                    </small></h1>
                                </div>
                            </div>
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Premium</h4>
                                </div>
                                <div class="card-body">
                                    <small class="text-muted">API Requests / Price</small>
                                <h1 class="card-title pricing-card-title">
                                    <input type="number" class="form-control col-4" name="package_requests">
                                    <small class="text-muted">/ <input type="number" class="form-control col-4" name="package_pricing">
                                    </small></h1>
                                </div>
                            </div>
                            </div>
                        </div>
                        <button class="btn btn-primary form-btn">Continue</button>
                    </section>

                    <!-- Step 03 - Description -->
                    <section class="form-step-inputs hidden" data-triggered="false">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name='description' class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="technical_instructions">Technical Instructions</label>
                            <textarea name='technical_instructions' class="form-control" id="technical_instructions" rows="3"></textarea>
                        </div>
                        <div class="form-group row">
                            <div class="col-6 form-group ">
                                <label for="source_url">Source URL</label>
                                <input name='source_url' type="url" class="form-control" id="source_url" placeholder="Source URL">
                            </div>
                            <div class="col-6 form-group">
                                <label for="base_url">Base URL</label>
                                <input name='base_url' type="url" class="form-control" id="base_url" placeholder="Source URL">
                            </div>
                            <div class="col-6 form-group">
                                <label for="in_scope">In Scope</label>
                                <textarea name='in_scope' class="form-control" id="in_scope" rows="10"></textarea>
                            </div>
                            <div class="col-6 form-group">
                                <label for="out_scope">Out Scope</label>
                                <textarea name='out_scope' class="form-control" id="out_scope" rows="10"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-primary form-btn">Continue</button>
                    </section>

                    <!-- Step 04 - Gallery -->
                    <section class="form-step-inputs hidden" data-triggered="false">
                        <div class="form-group gallery">
                            <label for="thumbnail">Thumbnails (up to 3)</label>
                            <div class="thumbnails-container">
                                <!-- Image 01 -->
                                <div class="thumbnail active primary">
                                    <div class="thumbnail-overlay"></div>
                                    <div class="thumbnail-placeholder">
                                            <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                            <span>Drag & drop a photo or</span>
                                            <button>Browse</button>
                                    </div>
                                    <div class="thumbnail-image">
                                        <img src="" alt="thumbnail image">
                                    </div>
                                    <span class="primary-thumbnail">&#9733 Primary</span>
                                    <button class="btn-delete-thumbnail">DELETE</button>
                                </div>
        
                                <!-- Image 02 -->
                                <div class="thumbnail">
                                    <div class="thumbnail-overlay"></div>
                                    <div class="thumbnail-placeholder">
                                        <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                        <span>Drag & drop a photo or</span>
                                        <button>Browse</button>
                                    </div>
                                    <div class="thumbnail-image">
                                        <img src="" alt="thumbnail image">
                                    </div>
                                    <span class="primary-thumbnail">&#9733 Primary</span>
                                    <button class="btn-delete-thumbnail">DELETE</button>
                                </div>
        
                                <!-- Image 03 -->
                                <div class="thumbnail">
                                    <div class="thumbnail-overlay"></div>
                                    <div class="thumbnail-placeholder">
                                        <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                        <span>Drag & drop a photo or</span>
                                        <button>Browse</button>
                                    </div>
                                    <div class="thumbnail-image">
                                        <img src="" alt="thumbnail image">
                                    </div>
                                    <span class="primary-thumbnail">&#9733 Primary</span>
                                    <button class="btn-delete-thumbnail">DELETE</button>
                                </div>
                                <input type="file" name="thumbnail-input" hidden>
                            </div>
                        </div>
                        <button class="btn btn-primary form-btn">Continue</button>
                    </section>
                    
                    <!-- Step 05 - Publish -->
                    <section class="form-step-inputs hidden" data-triggered="false">
                        <div class="col-12 mt-3 well">
                            <div class="endpoint-desc-container">
                                <div class="endpoint-col first">
                                    <h3 class="endpoint-heading">Endpoints</h3>
                                    <button style="right: 0;" type="button" class="create-endpoint-btn" data-toggle="modal" data-target=".bd-example-modal-lg">
                                        Create endpoint
                                    </button>
                                    <hr>
                                    <table class="table border">
                                        <thead>
                                        </thead>
                                        <tbody id="e_body">
                                        </tbody>
                                    </table>
                                    <div class="col-12">
                                        <div class="modal fade bd-example-modal-lg" id="e_modal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Endpoint Details</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
        
                                                    <div class="modal-body" id="endpoint_modal">
                                                        <div class="container-fluid top px-5">
                                                            <div class="row">
                                                                <div class="btn-group col-3 mb-3">
                                                                    <select class='form-control' id="endpoint_request_type">
                                                                        <option value="GET">GET</option>
                                                                        <option value="POST">POST</option>
                                                                        <option value="DELETE">DELETE</option>
                                                                        <option value="PUT">PUT</option>
                                                                        <option value="PATCH">PATCH</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-9">
                                                                    <input type="Endpoint URL" class="form-control" id="endpoint_url"
                                                                        aria-describedby="titleHelp" placeholder="Endpoint URL">
                                                                </div>
                                                                <div class="col-12 mb-3">
                                                                    <small class="form-text text-muted desc">Endpoint Description</small>
                                                                    <textarea class="form-control" id="endpoint_desc" rows="7"></textarea>
                                                                </div>
                                                                <div class="col-12">
                                                                    <small class="form-text text-muted desc">Testing Data</small>
                                                                    <div id="jsoneditor" style="width: 100%; height: 250px;"></div>
                                                                </div>
                                                                <small class="form-text text-muted error">Please fill all the required fields</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" data-dismiss="endpoint_modal" class="btn btn-primary" onclick="createEndpoint()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="endpoint-desc">
                                    <div class="endpoint-col">
                                        <h3 class="endpoint-heading">Endpoint Documentation</h3>
                                        <textarea class="form-control mb-2 api-textarea" id="e_desc_view" rows="10" disabled></textarea>
                                    </div>
                                    <div class="endpoint-col">
                                        <h3 class="endpoint-heading">Testing Data</h3>
                                        <textarea class="form-control mb-2 api-textarea code" id="e_test_data_view" rows="10" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary form-btn form-btn-submit">Submit</button>
                    </section>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock body %}

{% block js %}
<script>
    // Logic related to overall form, steps, progress bar
    const mainForm = document.querySelector('#updateForm');
    const forms = [...document.querySelectorAll('.form-step-inputs')];
    const formSteps = [...document.querySelectorAll('.form-step-item')];
    const continueButtons = [...document.querySelectorAll('.form-btn')].slice(0, 4);
    const submitButton = document.querySelector('.form-btn-submit');

    let currentStep = 1;

    continueButtons.forEach((continuteButton) => {
        continuteButton.addEventListener('click', handleFormContinue);
    });

    formSteps.forEach((formStep) => {
        formStep.addEventListener('click', handleStepSelection);
    });

    mainForm.addEventListener('submit', handleSubmit);

    // submitButton.addEventListener('click', (event) => {
    //     console.log('run submitButton');
    //     mainForm.submit();
    // })

    function handleStepSelection(event) {
        const step = +event.currentTarget.dataset.step;
        
        displayStep(step);
    }

    function handleFormContinue(event) {
        event.preventDefault();
        const isFormValid = validateStep(currentStep - 1);

        if (!isFormValid) {
            alert('Please fill all the fields');
            return;
        }

        currentStep+=1;
        forms[currentStep-1].dataset.triggered = true;

        displayStep(currentStep);
    }

    function displayStep(step) {
        if (forms[step-1].dataset.triggered !== 'true') return;

        removeAllSteps('completed');
        removeAllSteps('selected');

        currentStep = step;

        formSteps.forEach((formStep) => {
            // Do not update classList if user has not reached to this step yet
            if (+formStep.dataset.step > currentStep) return;

            // Add "selected" class only on the step user has clicked on
            if (+formStep.dataset.step === step) {
                formStep.classList.add('selected');
                return;
            }

            // Add "completed" class to all the other steps
            formStep.classList.add('completed');
        })

        formToDisplay(step);
    }

    function removeAllSteps(status) {
        formSteps.forEach((formStep) => {
            if (formStep.classList.contains(status)) {
                formStep.classList.remove(status);
            }
        })
    }

    function formToDisplay(step) {
        hideAllForms();
        forms[step-1].classList.remove('hidden');
    }

    function hideAllForms() {
        forms.forEach((form) => {
            if (!form.classList.contains('hidden')) {
                form.classList.add('hidden');
            }
        })
    }

    function validateStep(step) {
        const inputs = [...forms[step].querySelectorAll('input')];
        const textAreas = [...forms[step].querySelectorAll('textarea')];

        for (let input of inputs) {
            if (input.classList.contains('tag-input')) {
                if (tags < 3) return false;
                continue;
            }
            if (!input.value) return false;
        }

        for (let textArea of textAreas) {
            if (!textArea.value) return false;
        }

        return true;
    }

    // Form Submission
    function handleSubmit(event) {
        event.preventDefault();

        if (currentStep < 5) return;

        // const isFormValid = validateStep(currentStep - 1);


        // if (!isFormValid) {
        //     alert('Please fill all the fields');
        //     return;
        // }


        const _images = images.map((image, idx) => {
            return {
                data: image,
                isPrimary: thumbnails[idx].classList.contains('primary'),
            }
        })

        const _tags = [...tagsContainer.children].splice(0, tags).map((tag) => {
            return [...tag.children][0].innerText;
        });


        const form = event.target;
        const imagesInput = createNewInput('images', JSON.stringify(_images));
        const tagsInput = createNewInput('tags', JSON.stringify(_tags));
        form.appendChild(imagesInput);
        form.appendChild(tagsInput);

        form.submit();
    }

    function createNewInput(name, value) {
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = name;
        input.value = value;

        return input;
    }

    // Logic related to tags
    const tagsContainer = document.querySelector('.tags-container');
    const tagInput = document.querySelector('.tag-input');
    let tags = 0;

    tagInput.value = '';

    tagInput.addEventListener('input', updateInputWidth);
    tagInput.addEventListener('keydown', addNewTag);
    tagsContainer.addEventListener('click', selectTagInput);

    // The width of input field will dynamically
    // change based on the length of it's value
    function updateInputWidth(event) {
        tagInput.style.width = tagInput.value.length * 2 + "vw";
    }

    function selectTagInput(event) {
        tagInput.select();
    }

    function addNewTag(event) {
        // If key is other than "Enter" --> Return
        // Enter key code --> 13
        if (event.keyCode !== 13) return;

        // preventing the form to trigerring the "Continue" button
        event.preventDefault();

        // If the input field is empty --> Return
        if (!tagInput.value) return;

        const newTag = createTag(tagInput.value);
        newTag.addEventListener('click', deleteTag);
        tagsContainer.insertBefore(newTag, tagInput);
        tagInput.value = '';
        tags+=1;
    }

    function createTag(text) {
        const tag = document.createElement('div');
        tag.classList.add('tag');
        tag.innerHTML = `
            <span class="tag-text">${text}</span>
            <span>X</span>
        `;

        return tag;
    }

    function deleteTag(event) {
        event.currentTarget.remove();
        tags-=1;
    }

    // Logic relatead to image gallery
    const imageInput = document.querySelector('[name="thumbnail-input"]');
    const thumbnails = [...document.querySelectorAll('.thumbnail')];
    const imageUploadButtons = [...document.querySelectorAll('.thumbnail > .thumbnail-placeholder > button')];
    const imageDeleteButtons = [...document.querySelectorAll('.btn-delete-thumbnail')];
    const imageEls = [...document.querySelectorAll('.thumbnail-image > img')];
    const imageContainers = [...document.querySelectorAll('.thumbnail-image')];
    const imageDropZones = [...document.querySelectorAll('.thumbnail-placeholder')]

    const images = [];

    imageContainers.forEach((imageContainer, idx) => 
        imageContainer.addEventListener('click', setPrimaryImage(idx)))

    imageUploadButtons.forEach((btn) =>
        btn.addEventListener('click', handleSelectImage));

    imageDeleteButtons.forEach((btn, idx) =>
        btn.addEventListener('click', handleImageDelete(idx)));

    imageInput.addEventListener('change', (event) => {
        handleImageUpload(event.target.files[0]);
    });

    imageDropZones.forEach((imageDropZone) =>
        imageDropZone.addEventListener('drop', (event) => {
            event.preventDefault();
            handleImageUpload(event.dataTransfer.files[0]);
        }));

    imageDropZones.forEach((imageDropZone) =>
        imageDropZone.addEventListener('dragover', (event) =>
            event.preventDefault()));

    thumbnails.forEach((thumbnail) =>
        thumbnail.addEventListener('drop', (event) =>
            event.preventDefault()));

    thumbnails.forEach((thumbnail) =>
        thumbnail.addEventListener('dragover', (event) =>
            event.preventDefault()));

    function handleImageDelete(imageIdx) {
        return (event) => {
            event.preventDefault();
            images.splice(imageIdx, 1);
            updatePrimaryImage(imageIdx);
            removeImageSrcs();
            displayImages();
            updateThumbnailStates();
        };
    }

    function updatePrimaryImage(idx) {
        if (thumbnails[idx].classList.contains('primary')) {
            if (idx > 0) {
                thumbnails[idx].classList.remove('primary');
                thumbnails[idx-1].classList.add('primary');
                return;
            }
            thumbnails[idx].classList.add('primary');
            return;
        }

        const primaryIdx = thumbnails.findIndex((thumbnail) => thumbnail.classList.contains('primary'));

        if (primaryIdx < 1) return;

        thumbnails[primaryIdx].classList.remove('primary');
        thumbnails[primaryIdx-1].classList.add('primary');
    }

    function setPrimaryImage(idx) {
        return (event) => {
            removeStates('primary', thumbnails);
            thumbnails[idx].classList.add('primary');
        };
    }

    function handleSelectImage(event) {
        event.preventDefault();
        imageInput.click();
    }

    function handleImageUpload(file) {
        const reader = new FileReader();
        reader.onload = () => {
            images.push(reader.result);
            updateThumbnailStates();
            displayImages();
        };
        reader.readAsDataURL(file);
    }

    function displayImages() {
        if (!images.length) return;

        images.forEach((image, idx) => {
            imageEls[idx].src = image;
        })
    }

    function removeImageSrcs() {
        imageEls.forEach((img) => {
            img.src = '';
        });
    }

    function updateThumbnailStates() {
        removeStates('active', thumbnails);
        removeStates('uploaded', thumbnails);

        if (!images.length) {
            thumbnails[0].classList.add('active');
            return;
        }

        thumbnails.forEach((thumbnail, idx) => {
            if (idx < images.length) {
                thumbnail.classList.add('uploaded');
                return;
            }
            if (idx === images.length) {
                thumbnail.classList.add('active');
                return;
            }
        })
    }

    function removeStates(state, elements) {
        elements.forEach((element) => {
            if (element.classList.contains(state)) {
                element.classList.remove(state);
            }
        });
    }
</script>

<script>
    $("#title").change(function(){
    if (!$('#title')[0].value) {
        $('#btn-analysis').prop('disabled', true)
    } else {
        $('#btn-analysis').prop('disabled', false)
    }
});

$("#btn-analysis").click(function(){
    console.log('working')
    $('#modal-analysis').modal('show')
    $.ajax({
    type: 'GET',
    url: `/api/v1/statistical-anaylsis/A/${$('#title').val()}/`,
    success: function(data) {
        for (product in data) {
            console.log(data[product]);
            packages_html = '';
            for (packaging in data[product].packages) {
                console.log(data[product].packages)
                packages_html +=   `<li><strong>${data[product].packages[packaging].title}:</strong> ${data[product].packages[packaging].price} USD/${data[product].packages[packaging].requests} Requests</li>`
            }
            product_pricing_html = 
        $('#analysis-data').append(
        `                
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="media m-3 text-muted">
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="${data[0].thumbnail}" data-holder-rendered="true">
                <div class="media-body">
                    <h5 class="mt-0"><strong class="d-block text-gray-dark">@${data[product].title}</strong></h5>
                    ${packages_html}
                </div>
                <div style="text-align: right;">
                    <h4>${data[product].price} USD</h4>
                </div>
            </div>
        </div>
        `
        )
        }
    },
    error: function(error) {
        console.log('Error:', error);
    }
});
});
</script>
<script>
    // Initialize JSON editor
    const container = document.getElementById('jsoneditor');
    const options = {
        mode: 'code', 
        indentation: 2, 
        search: false, 
        mainMenuBar: false,
        navigationBar: false, 
        statusBar: false, 
        enableSort: false, 
        enableTransform: false, 
        enableClipboard: false,
        ajv: null, 
        schema: null 
    }
    const editor = new JSONEditor(container, options);

    editor.set();

    // Endpoints 
    const endpointsContainer = document.getElementById('e_body');
    const eRequestType = document.getElementById("endpoint_request_type");
    const eUrl = document.getElementById("endpoint_url");
    const eDesc = document.getElementById("endpoint_desc");
    const eDescView = document.getElementById('e_desc_view');
    const eTestDataView = document.getElementById('e_test_data_view');
    const errorMessage = document.querySelector('small.error');

    let EDIT_VIEW = false;
    let EDITING_INDEX = null;

    const endpoints = [];

    resetDescViewFields()
    resetModalFields();

    function renderEndpoints() {
        while (endpointsContainer.firstChild) {
            endpointsContainer.removeChild(endpointsContainer.firstChild);
        }

        endpoints.forEach((endpoint, idx) => addEndpointToDom(createEndpointElement(endpoint, idx)));
    }

    function createEndpoint() {
        if (EDIT_VIEW) {
            updateEndpoint(EDITING_INDEX);
            EDITING_INDEX = null;
            EDIT_VIEW= false;
            return;
        }

        if (!eUrl.value || !eDesc.value) {
            errorMessage.style.display = 'block';
            return;
        }

        errorMessage.style.display = 'none';

        const newEndpoint = {
            method: eRequestType.value,
            url: eUrl.value,
            description: eDesc.value,
        }

        try {
            newEndpoint.testData = editor.get(); 
        } catch {
            newEndpoint.testData = null;
        }

        endpoints.push(newEndpoint);
        resetModalFields();
        renderEndpoints();

        $('#e_modal').modal('hide')
    }

    function addEndpointToDom(endpointEl) {
        endpointsContainer.innerHTML+=endpointEl;
    }

    function createEndpointElement(endpoint, idx) {
        const {method, url, description, testData} = endpoint;
        return `
            <tr data-index="${idx}" class="endpoint-item ${method}">
                <td onclick="showEndpointInfo(${idx})">
                    <span class="badge badge-primary ${method}">${method}</span>
                    ${url}
                    <input type="text" name="endpoint_request_type" value="${method}" hidden>
                    <input type="text" name="endpoint_url" value="${url}" hidden>
                    <textarea hidden name='enpoint_desc'>${description}</textarea>
                    <textarea hidden name='enpoint_test'>${testData}</textarea>
                </td>
                <td style="text-align:end; padding-top:15px;">
                    <span><i class="fa fa-solid fa-trash" onclick='deleteEndpoint(${idx})'></i></span>
                    <button class="btn-edit" data-toggle="modal" data-target=".bd-example-modal-lg" onclick='openModal(${idx})'>
                        <span><i class="fa fa-solid fa-pencil"></i></span>
                    </button>
                </td>
            </tr>
        `
    }

    function openModal(idx) {
        const {method, url, description, testData} = endpoints[idx];

        EDIT_VIEW = true;
        EDITING_INDEX = idx;

        eRequestType.value = method;
        eUrl.value = url;
        eDesc.value = description;

        if (testData) {
            editor.set(testData);
            return;
        }
        editor.set();
    }

    function updateEndpoint(idx) {
        if (!eUrl.value || !eDesc.value) {
            errorMessage.style.display = 'block';
            return;
        }
        errorMessage.style.display = 'none';

        const updatedEndpoint = {
            method: eRequestType.value,
            url: eUrl.value,
            description: eDesc.value
        }

        try {
            updatedEndpoint.testData = editor.get(); 
        } catch {
            updatedEndpoint.testData = null;
        }

        endpoints[idx] = updatedEndpoint;
        renderEndpoints();
        resetModalFields();
        resetDescViewFields();
        
        $('#e_modal').modal('hide');
    }

    function resetModalFields() {
        eUrl.value = '';
        eDesc.value = '';
        editor.set();
    }

    function resetDescViewFields() {
        eDescView.value = '';
        eTestDataView.value = '';
    }

    function showEndpointInfo(idx) {
        eDescView.value = endpoints[idx].description;
        if (endpoints[idx].testData) {
            eTestDataView.value = JSON.stringify(endpoints[idx].testData, null, 2);
            return;
        }

        eTestDataView.value = '';
    }

    function deleteEndpoint(idx) {
        endpoints.splice(idx, 1);
        resetDescViewFields();
        renderEndpoints();
    }
</script>
{% endblock js %}