{% extends 'base.html' %}
{% load static %}
{% block title %}YourSite{% endblock title %}

{% block body %}
<h1>CREATE LOGO PAGE</h1>
<div class="container mt-5">
    <form action="" id='updateform' method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input name='title' type="text" class="form-control" id="title" placeholder="Enter Logo Title">
        </div>
        <div class="form-group">
            <label for="thumbnail">Thumbnail</label>
            <input name='thumbnail' type="file" class="form-control-file" id="thumbnail" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name='description' class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Source URL</label>
            <input name='source_url' type="url" class="form-control" id="source_url" placeholder="Source URL">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="width">Width</label>
                    <input name='width' type="number" class="form-control" id="width" placeholder="Width">
                </div>
                <div class="col-6">
                    <label for="height">Height</label>
                    <input name='height' type="number" class="form-control" id="height" placeholder="Height">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="logo_type">Logo Orientation</label>
            <select name='logo_type' class='form-control' id="logo_type">
                <option value="PORTAIT">PORTAIT</option>
                <option value="LANDSCAPE">LANDSCAPE</option>
                <option value="SQUARE">SQUARE</option>
            </select>
        </div>
        <div class="form-group">
            <label for="downloadable_file">Downloadable File</label>
            <input name='downloadable_file' type="file" class="form-control-file" id="downloadable_file">
            <small id="downloadable_file" class="form-text text-muted">Upload download file.</small>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="price">Price</label>
                    <input name='price' type="text" class="form-control" id="price">
                    <small id="price" class="form-text text-muted">Enter the price in USD.</small>
                </div>
                <div class="col-6">
                    <button type="button" disabled id='btn-analysis' class="btn btn-warning col-12 h-100"><strong class="text-gray-dark">View<br>Statistical Analysis</strong></button>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary col-12">Submit For Review</button>
    </form>
</div>
{% endblock body %}

{% block js %}
<script>
    $("#title").change(function(){
        if (!$('#title')[0].value) {
            $('#btn-analysis').prop('disabled', true)
        } else {
            $('#btn-analysis').prop('disabled', false)
        }
    });
    
    $("#btn-analysis").click(function(){
        console.log('working')
        $('#modal-analysis').modal('show')
        $.ajax({
        type: 'GET',
        url: "{% url 'api:statistical-analysis' 'H' %}",
        success: function(data) {
            for (product in data) {
                console.log(data[product]);
            $('#analysis-data').append(
            `                
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="media m-3 text-muted">
                    <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="${data[0].thumbnail}" data-holder-rendered="true">
                    <div class="media-body">
                        <h5 class="mt-0"><strong class="d-block text-gray-dark">@${data[product].title}</strong></h5>
                    </div>
                    <div style="text-align: right;">
                        <h4>${data[product].price} USD</h4>
                    </div>
                </div>
            </div>
            `
            )
            }
        },
        error: function(error) {
            console.log('Error:', error);
        }
    });
    });
    
</script>
{% endblock js %}

