{% extends 'base.html' %}
{% load static %}
{% block title %}YourSite{% endblock title %}
{% block css %}
.products .btn-close {
    border: none;
    background-color: transparent;
    font-family: monospace, sans-serif;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.products .btn-close:hover {
    opacity: 0.7;
}
{% endblock css %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/create-product.css' %}">
<main class="container mt-3">
    <h1>CREATE SOFTWARE PAGE</h1>
    <div class="form-progress-bar">
        <!-- Overview - -->
        <div class="form-step-item selected" data-step="1">
            <div class="form-step">1</div>
            <div class="form-step-title">Overview</div>
        </div>
        <span class="gt-sign">></span> 

        <!-- Pricing -->
        <div class="form-step-item" data-step="2">
            <div class="form-step">2</div>
            <div class="form-step-title">Pricing</div>
        </div>
        <span class="gt-sign">></span>
        
        <!-- Description -->
        <div class="form-step-item" data-step="3">
            <div class="form-step">3</div>
            <div class="form-step-title">Description</div>
        </div>
        <span class="gt-sign">></span>
        
        <!-- Gallery -->
        <div class="form-step-item" data-step="4">
            <div class="form-step">4</div>
            <div class="form-step-title">Gallery</div>
        </div>
        <span class="gt-sign">></span>

        <!-- Publish -->
        <div class="form-step-item" data-step="5">
            <div class="form-step">5</div>
            <div class="form-step-title">Publish</div>
        </div>
    </div>
    <div class="mt-5">
        <form action="" id='updateForm' method="post" enctype="multipart/form-data">{% csrf_token %}
            <!-- Step 01 - Overview -->
            <section class="form-step-inputs" data-triggered="true">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name='title' type="text" class="form-control" id="title" placeholder="Enter Software Title" value="{{product.title}}">
                </div>
                <div class="form-group">
                    <label for="title">Tags</label>
                    <div class="tags-container">
                        <!-- Tags will be dynamically inserted here -->
                        <input name='tag-input' class="tag-input" type="text" class="form-control">
                    </div>
                    <small class="form-text text-muted">Select minimum 3 tags</small>
                </div>
                <button class="btn btn-primary form-btn" onclick="fetchData()">Continue</button>
            </section>

            <!-- Step 02 - Pricing -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="price">Price</label>
                            <input name='price' type="text" class="form-control" id="price" value="{{package.price}}">
                            <small id="price" class="form-text text-muted">Enter the price in USD.</small>
                        </div>
                        <div class="col-6 price-analysis">
                            <div class="text-center bg-light">
                                <h2 class="mb-3 avg-price">Average Price: <span>N/A</span></h2>
                            </div>
                            <div class="products">
                                <!-- Will be generated dynamically -->
                            </div>
                    </div>
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>

            <!-- Step 03 - Description -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name='description' class="form-control richtext_field" id="exampleFormControlTextarea1" rows="7">{{product.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="technical_instructions">Technical Instructions</label>
                    <textarea name='technical_instructions' class="form-control richtext_field" id="technical_instructions" rows="3">{{obj.technical_instructions}}</textarea>
                </div>
                <div class="form-group">
                    <label for="technology">Technologies Used.</label>
                    <input name='technology' type="text" class="form-control" id="technology" placeholder="Ex: Python, VUE, React etc." value="{{obj.technology}}">
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>

            <!-- Step 04 - Gallery -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group gallery">
                    <label for="thumbnail">Thumbnails (up to 3)</label>
                    <div class="thumbnails-container">
                        <!-- Image 01 -->
                        <div class="thumbnail active primary">
                            <div class="thumbnail-overlay"></div>
                            <div class="thumbnail-placeholder">
                                    <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                    <span>Drag & drop a photo or</span>
                                    <button>Browse</button>
                            </div>
                            <div class="thumbnail-image">
                                <img src="" alt="thumbnail image">
                            </div>
                            <span class="primary-thumbnail">&#9733 Primary</span>
                            <button class="btn-delete-thumbnail">DELETE</button>
                            <small id="thumbnail" class="form-text text-muted">Upload Thumbnail File.</small>
                        </div>

                        <!-- Image 02 -->
                        <div class="thumbnail">
                            <div class="thumbnail-overlay"></div>
                            <div class="thumbnail-placeholder">
                                <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                <span>Drag & drop a photo or</span>
                                <button>Browse</button>
                            </div>
                            <div class="thumbnail-image">
                                <img src="" alt="thumbnail image">
                            </div>
                            <span class="primary-thumbnail">&#9733 Primary</span>
                            <button class="btn-delete-thumbnail">DELETE</button>
                        </div>

                        <!-- Image 03 -->
                        <div class="thumbnail">
                            <div class="thumbnail-overlay"></div>
                            <div class="thumbnail-placeholder">
                                <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                <span>Drag & drop a photo or</span>
                                <button>Browse</button>
                            </div>
                            <div class="thumbnail-image">
                                <img src="" alt="thumbnail image">
                            </div>
                            <span class="primary-thumbnail">&#9733 Primary</span>
                            <button class="btn-delete-thumbnail">DELETE</button>
                        </div>
                        <input type="file" name="thumbnail-input" hidden>
                    </div>
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>
            
            <!-- Step 05 - Publish -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group">
                    <label for="downloadable_file">Downloadable File</label><br>
                    {% if product %}
                    <button class="btn-upload-file">Change DOwnloadable FIle</button>
                    {% else %}
                    <button class="btn-upload-file">Upload</button>
                    {% endif %}
                    <div id="progressBarContainer" style="display: none;">
                        <div id="progressBar" style="width: 0%;"></div>
                    </div>
                    <input name='downloadable_file' type="file" class="form-control-file" id="downloadable_file" hidden>
                    <div class="progress-bar">
                        <div class="progress-bar-inner"></div>
                    </div>
                    {% if obj.source_file %}
                    <small id="downloadable_file" class="form-text text-muted filename">{{obj.source_file}}</small>
                    {% else %}
                    <small id="downloadable_file" class="form-text text-muted filename">Upload download file.</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="trail_version">Trail Version</label><br>
                    {% if product %}
                    <button class="btn-upload-trail-file">Change Trial Version File</button>
                    {% else %}
                    <button class="btn-upload-trail-file">Upload</button>
                    {% endif  %}
                    <div id="progressBarContainer" style="display: none;">
                        <div id="progressBar" style="width: 0%;"></div>
                    </div>
                    <input name='trail_version' type="file" class="form-control-file" id="trail_version" hidden>
                    <div class="progress-bar2">
                        <div class="progress-bar-inner"></div>
                    </div>
                    {% if obj.trail_version %}
                    <small id="trail_version" class="form-text text-muted trail-filename">{{obj.trail_version}}</small>
                    {% else %}
                    <small id="trail_version" class="form-text text-muted trail-filename">Upload Trail Version If Available.</small>
                    {% endif %}
                </div> 
                <div class="form-group">

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="description">Source URL</label>
                            <input name='source_url' type="url" class="form-control" id="source_url" placeholder="Source URL" value="{{product.source_url}}">
                        </div>
                        <div class="col-6">
                            <label class="logo_type_label" for="logo_type">Software Type</label>
                            <select name='software_type' class='form-control' id="software_type">
                                {% if obj.software_type == 'OFFLINE' %}
                                <option value="OFFLINE" selected>OFFLINE</option>
                                {% else %}
                                <option value="OFFLINE">OFFLINE</option>
                                {% endif %}
                                {% if obj.software_type == 'ONLINE' %}
                                <option value="ONLINE" selected>ONLINE</option>
                                {% else %}
                                <option value="ONLINE">ONLINE</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="in_scope">In Scope</label>
                            <textarea name='in_scope' class="form-control richtext_field" id="in_scope" rows="10">{{obj.in_scope}}</textarea>
                        </div>
                        <div class="col-6">
                            <label for="out_scope">Out Scope</label>
                            <textarea name='out_scope' class="form-control richtext_field" id="out_scope" rows="10">{{obj.out_scope}}</textarea>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary form-btn form-btn-submit">Submit</button>
            </section>       
        </form>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}

{% block js %}
<script src="{% static 'js/create-product.js'%}"></script>
<script src="{% static 'js/create-software.js'%}"></script>
<script>
    const productsContainer = document.querySelector('.products');
    const averagePriceField = document.querySelector('.avg-price');
    let products;

    function renderProducts(products) {
        while (productsContainer.firstChild) {
            productsContainer.removeChild(productsContainer.firstChild);
        }

        if (!products.length) {
            productsContainer.innerHTML+=getProducts404();
            averagePriceField.innerText = 'Average Price: N/A';
            return;
        }

        averagePriceField.innerText = `Average Price: $${getAveragePrice(products)}`;

        products.forEach((product, idx) => {
            const {id, title, price, review_count} = product;
            productsContainer.innerHTML+=createProductCard(id, title, price, review_count, idx + 1);
        });
    }

    function getAveragePrice(products) {
        return products.reduce((curr, product) => {
            return curr + product.price;
        }, 0) / products.length;
    }

    function getProducts404() {
        return `
            <p class="text-center products-404">No results.</p>
        `;
    }

    function createProductCard(id, title, price, reviewCount, idx) {
        return `
            <div class="card bg-light mb-3" style="max-width: 100%;">
                <div class="modal-header">
                    <h5 class="modal-title">Product #0${idx}</h5>
                    <button type="button" class="btn-close" onclick=removeProduct(${id})>X</button>
                    </div>
                <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">$${price}</p>
                    <p class="card-text">Reviews: ${reviewCount}</p>
                </div>
            </div>
        `;
    }

    function removeProduct(id) {
        products = products.filter((product) => product.id !== id);
        renderProducts(products);
    }
    
    function fetchData() {
        $.ajax({
            type: 'GET',
            url: `/api/v1/statistical-anaylsis/D/${$('#title').val()}/`,
            // url: `/api/v1/statistical-anaylsis/L/hello/`,
            success: function(data) {
                products = data;
                renderProducts(products);
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    };
    
</script>
<script>
    {% for tag in product.tags.all %}
        newTag = createTag(`{{tag.name}}`);
        newTag.addEventListener('click', deleteTag);
        tagsContainer.insertBefore(newTag, tagInput);
        tagInput.value = '';
        tags+=1;
    {% endfor %}

    {% for thumbnail in product.thumbnail_metadata %}
    images.push(`{{thumbnail.data}}`);
    updateThumbnailStates();
    displayImages();

    {% endfor %}
</script>
{% endblock js %}

