{% extends 'base.html' %}
{% load static %}
{% block title %}YourSite{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/create-product.css' %}">
<main class="container mt-3">
    <h1>CREATE TEMPLATE PAGE</h1>
    <div class="form-progress-bar">
        <!-- Overview - -->
        <div class="form-step-item selected" data-step="1">
            <div class="form-step">1</div>
            <div class="form-step-title">Overview</div>
        </div>
        <span class="gt-sign">></span> 

        <!-- Pricing -->
        <div class="form-step-item" data-step="2">
            <div class="form-step">2</div>
            <div class="form-step-title">Pricing</div>
        </div>
        <span class="gt-sign">></span>
        
        <!-- Description -->
        <div class="form-step-item" data-step="3">
            <div class="form-step">3</div>
            <div class="form-step-title">Description</div>
        </div>
        <span class="gt-sign">></span>
        
        <!-- Gallery -->
        <div class="form-step-item" data-step="4">
            <div class="form-step">4</div>
            <div class="form-step-title">Gallery</div>
        </div>
        <span class="gt-sign">></span>

        <!-- Publish -->
        <div class="form-step-item" data-step="5">
            <div class="form-step">5</div>
            <div class="form-step-title">Publish</div>
        </div>
    </div>
    <div class="mt-5">
        <form action="" id='updateForm' method="post" enctype="multipart/form-data">{% csrf_token %}
            <!-- Step 01 - Overview -->
            <section class="form-step-inputs" data-triggered="true">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name='title' type="text" class="form-control" id="title" placeholder="Enter HTMLTemplate Title" value="{{product.title}}">
                </div>
                <div class="form-group">
                    <label for="title">Tags</label>
                    <div class="tags-container">
                        <!-- Tags will be dynamically inserted here -->
                        <input name='tag-input' class="tag-input" type="text" class="form-control">
                    </div>
                    <small class="form-text text-muted">Select minimum 3 tags</small>
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>

            <!-- Step 02 - Pricing -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="price">Price</label>
                            <input name='price' type="text" class="form-control" id="price" value="{{package.price}}">
                            <small id="price" class="form-text text-muted">Enter the price in USD.</small>
                        </div>
                        <div class="col-6">
                            <button type="button" disabled id='btn-analysis' class="btn btn-warning col-12 h-100"><strong class="text-gray-dark">View<br>Statistical Analysis</strong></button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>

            <!-- Step 03 - Description -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name='description' class="form-control richtext_field" id="description" rows="7">{{product.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="technical_instructions">Technical Instructions</label>
                    <textarea name='technical_instructions' class="form-control richtext_field" id="technical_instructions" rows="3">{{obj.technical_instructions}}</textarea>
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>

            <!-- Step 04 - Gallery -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group gallery">
                    <label for="thumbnail">Thumbnails (up to 3)</label>
                    <div class="thumbnails-container">
                        <!-- Image 01 -->
                        <div class="thumbnail active primary">
                            <div class="thumbnail-overlay"></div>
                            <div class="thumbnail-placeholder">
                                    <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                    <span>Drag & drop a photo or</span>
                                    <button>Browse</button>
                            </div>
                            <div class="thumbnail-image">
                                <img src="" alt="thumbnail image">
                            </div>
                            <span class="primary-thumbnail">&#9733 Primary</span>
                            <button class="btn-delete-thumbnail">DELETE</button>
                            <small id="thumbnail" class="form-text text-muted">Upload Thumbnail File.</small>
                        </div>

                        <!-- Image 02 -->
                        <div class="thumbnail">
                            <div class="thumbnail-overlay"></div>
                            <div class="thumbnail-placeholder">
                                <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                <span>Drag & drop a photo or</span>
                                <button>Browse</button>
                            </div>
                            <div class="thumbnail-image">
                                <img src="" alt="thumbnail image">
                            </div>
                            <span class="primary-thumbnail">&#9733 Primary</span>
                            <button class="btn-delete-thumbnail">DELETE</button>
                        </div>

                        <!-- Image 03 -->
                        <div class="thumbnail">
                            <div class="thumbnail-overlay"></div>
                            <div class="thumbnail-placeholder">
                                <img src="https://eustonclub.com.au/wp-content/plugins/slider/images/slider-icon.png" alt="image-icon">
                                <span>Drag & drop a photo or</span>
                                <button>Browse</button>
                            </div>
                            <div class="thumbnail-image">
                                <img src="" alt="thumbnail image">
                            </div>
                            <span class="primary-thumbnail">&#9733 Primary</span>
                            <button class="btn-delete-thumbnail">DELETE</button>
                        </div>
                        <input type="file" name="thumbnail-input" hidden>
                    </div>
                </div>
                <button class="btn btn-primary form-btn">Continue</button>
            </section>

            <!-- Step 05 - Publish -->
            <section class="form-step-inputs hidden" data-triggered="false">
                <div class="form-group">
                    {% if product %}
                        <button class="btn-upload-file">Change Downloadable File</button>
                    {% else %}
                        <button class="btn-upload-file">Upload</button>
                    {% endif  %}
                    <div id="progressBarContainer" style="display: none;">
                        <div id="progressBar" style="width: 0%;"></div>
                    </div>
                    <input name='downloadable_file' type="file" class="form-control-file" id="downloadable_file" hidden>
                    <div class="progress-bar">
                        <div class="progress-bar-inner"></div>
                    </div>
                    {% if obj.source_file %}
                        <small id="downloadable_file" class="form-text text-muted filename">{{obj.source_file}}</small>
                    {% else %}
                        <small id="downloadable_file" class="form-text text-muted filename">Upload download file.</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="description">Source URL</label>
                    <input name='source_url' type="url" class="form-control" id="source_url" placeholder="Source URL" value="{{product.source_url}}">
                </div>
                <div class="form-group">
                    <label for="description">Supported Browser</label>
                    <input name='supported_browser' type="text" class="form-control" id="supported_browser" placeholder="Supported Browser" value="{{obj.supported_browser}}">
                </div>
                <div class="form-group">
                    <label for="description">Demo Site</label>
                    <input name='demo_site' type="url" class="form-control" id="demo_site" placeholder="Demo Site" value="{{obj.demo_site}}">
                </div>
                <button class="btn btn-primary form-btn form-btn-submit">Submit</button>
            </section>
        </form>
    </div>
</main>
{% endblock body %}

{% block js %}
<script src="{% static 'js/create-product.js'%}"></script>
<script src="{% static 'js/create-template.js'%}"></script>

<script>
    $("#title").change(function(){
        if (!$('#title')[0].value) {
            $('#btn-analysis').prop('disabled', true)
        } else {
            $('#btn-analysis').prop('disabled', false)
        }
    });
    
    $("#btn-analysis").click(function(){
        console.log('working')
        $('#modal-analysis').modal('show')
        $.ajax({
        type: 'GET',
        url: `/api/v1/statistical-anaylsis/H/${$('#title').val()}/`,
        success: function(data) {
            for (product in data) {
                console.log(data[product]);
            $('#analysis-data').append(
            `                
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="media m-3 text-muted">
                    <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="${data[0].thumbnail}" data-holder-rendered="true">
                    <div class="media-body">
                        <h5 class="mt-0"><strong class="d-block text-gray-dark">@${data[product].title}</strong></h5>
                    </div>
                    <div style="text-align: right;">
                        <h4>${data[product].price} USD</h4>
                    </div>
                </div>
            </div>
            `
            )
            }
        },
        error: function(error) {
            console.log('Error:', error);
        }
    });
    });
    
</script>
{% endblock js %}

