{% extends 'base.html' %}
{% load static %}
{% block title %}YourSite{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<div class="main container">
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="row">
      <h3 class="border-bottom border-gray pb-2 mb-0 col-12">Products</h3>
      {% for product in products %}
        {% include 'components/product/private-product-card.html'%}
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h3 class="border-bottom border-gray pb-2 mb-0">Your Brochures</h3>
    {% for brochure in brochures %}
    <div class="media m-3 text-muted">
      <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_185a16e6a13%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_185a16e6a13%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.541290283203125%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
      <div class="media-body">
        <h5 class="mt-0"><strong class="d-block text-gray-dark">@{{brochure.title}}</strong></h5>
        <li><strong class="text-gray-dark">{{brochure.product.title}}</strong>({{brochure.product.description|truncatechars:40}})</li>
        <li><strong class="text-gray-dark">{{brochure.product.title}}</strong>({{brochure.product.description}})</li>
      </div>
    </div>
    <hr>
    {% endfor %}
    <small class="d-block text-right mt-3">
      <a href="#">Design Brochure</a>
    </small>
  </div>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h3 class="border-bottom border-gray pb-2 mb-0">Marketing Results</h3>
    {% for product in products %}
      {% for market in product.marketed_on.all %}
        {% if market.title.lower == 'dribble' %}
          {% for dribble in dribble_product %}
            {% if dribble.product == product %}
              <div class="media m-3 text-muted">
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_185a16e6a13%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_185a16e6a13%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.541290283203125%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                <div class="media-body">
                  <h5 class="mt-0"><strong class="d-block text-gray-dark">@Dribble</strong></h5>
                  <li><strong class="text-gray-dark">{{product.title}}</strong>({{product.description|truncatechars:40}})</li>
                  <li><strong class="text-gray-dark"><a class='text-gray-dark' href="{{dribble.get_absolute_url}}">Dribble URL</a></strong></li>
                </div>
                <div style="text-align: right;">
                  {% for data in dribble.get_details %}
                  <h4>{{data.0}} <i class="fa fa-solid fa-{{data.1}}"></i></h4>
                  {% endfor %}
                </div>
              </div>
              <hr>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    <small class="d-block text-right mt-3">
      <!-- <a href="#">Design Brochure</a> -->
    </small>
  </div>
  <hr>
</div>
<hr>
<div class="container">
  <h1>List Your Product On Marketing Platforms</h1>
</div>
<div class ="container">
  <div class="row">
    <div class = "col-6 mx-3 px-4">
      <div class="row">
        <div class="col-6 ">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Markerting Platform</b></div>
            <div class="card-body">
              <div class = "row">
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">LOGO</a>
                </div>
                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Template</a>
                </div>
                
                <div class ="col-5">
                  <a href="#" class="btn btn-warning">Free</a>
                </div>

                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Software</a>
                </div>
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">API</a>
                </div>
                <div class ="col-5"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 ">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Markerting Platform</b></div>
            <div class="card-body">
              <div class = "row">
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">LOGO</a>
                </div>
                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Template</a>
                </div>
                
                <div class ="col-5">
                  <a href="#" class="btn btn-warning">Free</a>
                </div>

                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Software</a>
                </div>
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">API</a>
                </div>
                <div class ="col-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>    
  </div>  


    <div class = "col-6 mx-3 px-4">
      <div class="row">
        <div class="col-6">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Markerting Platform</b></div>
            <div class="card-body">
              <div class = "row">
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">LOGO</a>
                </div>
                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Template</a>
                </div>
                
                <div class ="col-5">
                  <a href="#" class="btn btn-warning">$10</a>
                </div>

                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Software</a>
                </div>
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">API</a>
                </div>
                <div class ="col-5"></div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-6">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Markerting Platform</b></div>
            <div class="card-body">
              <div class = "row">
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">LOGO</a>
                </div>
                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Template</a>
                </div>
                
                <div class ="col-5">
                  <a href="#" class="btn btn-warning" disabled>Free</a>
                </div>

                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Software</a>
                </div>
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">API</a>
                </div>
                <div class ="col-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>    
  </div>
</div>

{% endblock body %}

{% block js %}
{% endblock js %}
