{% extends 'base.html' %}
{% load static %}
{% block title %}YourSite{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<div class="main container">
  <h5>Products</h5>
  <div class="row">
    {% for product in products %}
      {% include 'components/product/private-product-card.html'%}
    {% endfor %}
  </div>
</div>
<hr>
<div class="container">
  <h1>List Your Product On Marketing Platforms</h1>
</div>
<div class ="container">
  <div class="row">
    <div class = "col-6 mx-3 px-4">
      <div class="row">
        <div class="col-6 ">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Markerting Platform</b></div>
            <div class="card-body">
              <div class = "row">
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">LOGO</a>
                </div>
                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Template</a>
                </div>
                
                <div class ="col-5">
                  <a href="#" class="btn btn-warning">Free</a>
                </div>

                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Software</a>
                </div>
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">API</a>
                </div>
                <div class ="col-5"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 ">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Markerting Platform</b></div>
            <div class="card-body">
              <div class = "row">
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">LOGO</a>
                </div>
                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Template</a>
                </div>
                
                <div class ="col-5">
                  <a href="#" class="btn btn-warning">Free</a>
                </div>

                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Software</a>
                </div>
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">API</a>
                </div>
                <div class ="col-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>    
  </div>  


    <div class = "col-6 mx-3 px-4">
      <div class="row">
        <div class="col-6">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Markerting Platform</b></div>
            <div class="card-body">
              <div class = "row">
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">LOGO</a>
                </div>
                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Template</a>
                </div>
                
                <div class ="col-5">
                  <a href="#" class="btn btn-warning">$10</a>
                </div>

                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Software</a>
                </div>
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">API</a>
                </div>
                <div class ="col-5"></div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-6">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Markerting Platform</b></div>
            <div class="card-body">
              <div class = "row">
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">LOGO</a>
                </div>
                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Template</a>
                </div>
                
                <div class ="col-5">
                  <a href="#" class="btn btn-warning" disabled>Free</a>
                </div>

                <div class ="col-4">
                  <a href="#" class="btn btn-primary btn-sm">Software</a>
                </div>
                <div class ="col-3">
                  <a href="#" class="btn btn-primary btn-sm">API</a>
                </div>
                <div class ="col-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>    
  </div>
</div>

{% endblock body %}

{% block js %}
{% endblock js %}
