<div class="col-12">

    <div class="media m-3 text-muted">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 64px; height: 64px;" src="{{bought_product.package.service.thumbnail_metadata.0.data}}" data-holder-rendered="true">
        <div class="media-body">
            <h5 class="mt-0"><strong class="d-block text-gray-dark">{{bought_product.package.service.title}}</strong></h5>
            <p class="mt-0">{{bought_product.package.service.description}}</p>
            <p class="mt-0"><strong>Purchased: </strong>{{bought_product.timestamp}}</p>
        </div>
        <div class="ml-5 align-self-center px-3">
            <button type="button" class="btn btn-warning font-weight-bold"><b>DOWNLOAD<br>PRODUCT</b></button>
        </div>
    </div>
</div>