<div class="col-12">
    <div class="media m-3 text-muted">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 64px; height: 64px;" src="{{bought_product.package.service.thumbnail_metadata.0.data}}" data-holder-rendered="true">
        <a style="text-decoration: none; color: black;" href="{% url 'core:product-view' bought_product.package.service.slug %}"><div class="media-body">
            <h5 class="mt-0"><strong class="d-block text-gray-dark">{{bought_product.package.service.title}}</strong></h5>
            <p class="mt-0">{{bought_product.package.service.get_description_text|truncatechars:200}}</p>
            <p class="mt-0"><strong>Purchased: </strong>{{bought_product.timestamp}}</p>
            {% if bought_product.package.service.product_type == 'A' %}
            <p class="mt-0"><strong>Token: </strong>{{bought_product.token}}</p>
            <p class="mt-0"><strong>Requests Left: </strong>{{bought_product.normal_requests_left}}</p>
            
            {% endif %}
        </div></a>
        <div class="ml-5 align-self-center px-3">
            {% if bought_product.package.service.product_type == 'A' %}
            <a href="{% url 'buyer:buy-product' bought_product.package.id %}" type="button" class="btn btn-warning font-weight-bold"><b>RE-BUY<br>Package</b></a>
            {% else %}
            <a href="{{bought_product.package.service.get_product_obj.source_file.url}}" type="button" class="btn btn-warning font-weight-bold"><b>DOWNLOAD<br>PRODUCT</b></a>
            {% endif %}
            <br><br>
            {% if not bought_product.is_feedback_given %}
            <a href="{% url 'buyer:give-feedback' bought_product.id %}" type="button" class="btn btn-dark font-weight-bold"><b>PROVIDE<br>FEEDBACK</b></a>
            {% endif %}
        </div>
    </div>
</div>