<div class="card col-3 px-1 bg-white rounded box-shadow" >
    <img class="card-img-top p-2" src="{{product.thumbnail.url}}" style='max-height: 500px;' alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">
          {{product.description|truncatechars:40}}
      </p>
      <div class="dropdown-divider"></div>
      <div class="">
          <span class="badge badge-warning float-start p-2">{{product.get_product_type_display.upper}}</span>
          <span class="badge badge-primary float-right p-2">{{product.get_status_display.upper}}</span>
      </div>
    </div>
  </div>
