<div class="card col-3 px-1 bg-white rounded box-shadow" >
    {% if product.thumbnail_metadata %}
    <img class="card-img-top p-2" src="{{product.thumbnail_metadata.0.data}}" style='max-height: 325px;' alt="Card image cap">
    {% else %}
    <img class="card-img-top p-2" src="" style='max-height: 325px;' alt="Image Not Found">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">
            {{product.description|truncatechars:40}}
        </p>
        <div class="dropdown-divider"></div>
        <div class="">
            <span class="badge badge-warning float-start p-2">{{product.get_product_type_display.upper}}</span>
            <span class="badge badge-primary float-right p-2">{{product.get_status_display.upper}}</span>
        </div>

        <div class="dropdown-divider"></div>
        <div class="">
            <a href="{% url 'market:market-list' product.id %}" class="badge badge-info float-start p-2 col-12">MARKET</a>
            <a href="{% url 'seller:delete-product' product.id %}" class="badge badge-danger float-start p-2 col-12 mt-2">DELETE</a>
            {% if product.product_type == 'L' %}
            <a href="{% url 'seller:update-logo' product.id %}" class="badge badge-warning float-start p-2 col-12 mt-2">UPDATE</a>
            <a href="{% url 'market:brochure-detail' product.id 3 %}" class="badge badge-success float-start p-2 col-12 mt-2">DESIGN BROCHURE</a>
            {% elif product.product_type == 'H'%}
            <a href="{% url 'market:brochure-detail' product.id 2 %}" class="badge badge-success float-start p-2 col-12 mt-2">DESIGN BROCHURE</a>
            {% elif product.product_type == 'D' %}
            <a href="{% url 'market:brochure-detail' product.id 1 %}" class="badge badge-success float-start p-2 col-12 mt-2">DESIGN BROCHURE</a>
            {% endif %}
        </div>
        <div class="dropdown-divider"></div>
        <div class="">
            <h6>Impressions: {{product.impressions}} <i class="fa fa-solid fa-views"></i></h6>
            <h6>Clicks: {{product.clicks}} <i class="fa fa-solid fa-views"></i></h6>
        </div>
    </div>
</div>
